
<app-stars></app-stars>

  <div class="row-div">
    <div  style="width: 40%;">
      <div class="title-div" >Linux开源系统</div>
    </div>
  </div>

  <div class="row-div flex-div" >
    <div style="text-align: center;flex: 2">
      <p class="sex"><i class="icon font_family icon-compatibility"></i>&nbsp;兼容性</p>
      <p class="sex"><i class="icon font_family icon-stability"></i>&nbsp;稳定性</p>
      <p class="sex"><i class="icon font_family icon-security"></i>&nbsp;安全性</p>
    </div>

    <div style="flex: 3" >
      <img src="./assets/img/solution/system1.jpg">
    </div>
  </div>


  <div class="row-div" style="background-color: #f8f8f8">
    <div  style="width: 48%;">
      <div class="title-div" >一站式自主研发系统</div>
    </div>
  </div>

  <div class="row-div" style="background-color: #f8f8f8">
    <img src="./assets/img/solution/system2.png">
  </div>

  <div class="row-div flex-div" style="background-color: #f8f8f8">
    <div style="flex: 1;text-align: left">
      <p class="system-p">智能零售终端管控系统</p>
      <p class="system-p">新媒体广告交互系统</p>
      <p class="system-p">智能零售终端管控系统</p>
    </div>
    <div style="flex: 1;text-align: left;margin-top: -2rem">
      <p class="system-p">智能零售交易平台</p>
      <p class="system-p">物联网大数据分析平台</p>
    </div>
  </div>




  <div class="row-div">
    <div  style="width: 40%;">
      <div class="title-div" >可视化后台管理系统</div>
    </div>
  </div>

<div class="row-div flex-div">
  <div style="flex: 1;text-align: left">
    <p class="system-text"><i class="icon font_family icon-platform icon-system"></i>&nbsp;全方位的管理平台</p>
    <p class="system-text"><i class="icon font_family icon-transactiondetail icon-system"></i>&nbsp;交易明细实时查询</p>
    <p class="system-text"><i class="icon font_family icon-close_aisle icon-system"></i>&nbsp;后台关闭指定货道</p>
    <p class="system-text"><i class="icon font_family icon-diagnose icon-system"></i>&nbsp;系统故障自我诊断</p>
    <p class="system-text"><i class="icon font_family icon-restart icon-system"></i>&nbsp;远程机器自动重启</p>
    <p class="system-text"><i class="icon font_family icon-maintenance_report icon-system"></i>&nbsp;维修报告记录</p>
  </div>
  <div style="flex: 1;text-align: left;margin-top: -2rem">
    <p class="system-text"><i class="icon font_family icon-datadisplay icon-system"></i>&nbsp;综合数据显示</p>
    <p class="system-text"><i class="icon font_family icon-repertory icon-system"></i>&nbsp;远程库存监控</p>
    <p class="system-text"><i class="icon font_family icon-advertisement icon-system"></i>&nbsp;远程广告推送</p>
    <p class="system-text"><i class="icon font_family icon-aisle_manage icon-system"></i>&nbsp;智能货道管理</p>
    <p class="system-text"><i class="icon font_family icon-long_distance icon-system"></i>&nbsp;后台远程出货</p>
  </div>
</div>

<div class="row-div flex-div">
  <div style="flex: 2;text-align: center">
    <img src="./assets/img/solution/system3.jpg" >
  </div>
  <div style="flex: 7;text-align: center;padding-top: 1rem">
    <img src="./assets/img/solution/system4.jpg" style="width: 90%">
  </div>
</div>


<div class="row-div">
    <img src="./assets/img/solution/system5.jpg" style="width: 92%">
</div>

<app-bottom></app-bottom>
