<div class="fixed_bottom">
  <div *ngIf="!kiosk_data.is_home" class="route_btn"><a [routerLink] = "['/home']"><button class="btn btn-default  foot_btn">主页</button></a></div>

  <div class="route_btn"><a [routerLink] = "['/help']"><button class="btn btn-default  foot_btn">&nbsp;帮助&nbsp;</button></a></div>
  <div class="route_btn"><a [routerLink] = "['/process']"><button class="btn btn-default  foot_btn">购物流程</button></a></div>
  <div class="route_btn"><a [routerLink] = "['/about']"><button class="btn btn-default  foot_btn">关于我们</button></a></div>
</div>
