

.line{
  border-top:1px solid  #c9c9c9;
  width: 100px;
  display: inline-block;
  margin: 0 1rem 0.6rem 1rem;
}


.title-2{
  font-size: 2.4rem;
  color: #3fabf3;
  font-weight: bold;
}

.title-4{
  font-size: 1.4rem;
  font-family: Helvetica, monospace;
  color: #919191;
}



.order-title{
  line-height: 3rem;
  font-size: 1.8rem;
  padding: 2rem 0 2rem 0;
  text-align: center;
}



.icon{
  font-size: 6rem;
}

.module-desc{
  font-size: 1.2rem;
  line-height: 1.5rem;
}


.mode-div{
  width: 60%;
  margin: 40px auto 0 auto;
  background-color: #68bc9e;
  color: white;
  font-size: 2rem;
  text-align: center;
  border-radius: 5px;
}

.after-service-div{
  background-color: #f6f6f6;padding: 2rem;
}

.after-service-desc{
  font-size: 1.1rem;
  line-height: 2.4rem;
}

img{
  width: 100%;
}


.fixed-height1{
  height: 22rem;
  overflow: hidden;
}

.color-img{
  min-height: 22rem;
  width: 100%;
  transition: width 1s;
}

.color-img:hover{
  width: 105%;
}
