<div >
  <img src="./assets/img/serve/banner.png" style="width: 100%">
</div>
<div style=" text-align: center;margin-top: 60px;" id="archor7">
  <h2 class="title-2">
    <span class="line"></span>
    Professional Customization
    <span class="line"></span></h2>
</div>

<div nz-row class="row-div">
  <div nz-col [nzSpan]="3" [nzOffset]="3" style="text-align: center">
    <img src="./assets/img/serve/order0.png" style="width: 94%">
  </div>
  <div nz-col [nzSpan]="12" style="text-align: center">
    <p class="order-title" style="background-color: #f6f6f6">Exquisite appearance design+ Customized user interface</p>
    <img src="./assets/img/serve/order2.png" style="width: 26%;margin-right: 8%">
    <img src="./assets/img/serve/order3.png" style="width: 26%;margin-left: 8%">
  </div>
  <div nz-col [nzSpan]="3"  style="text-align: center">
    <img src="./assets/img/serve/order4.png" >
  </div>
</div>

<div  style="text-align: center;padding:60px 0 30px 0; background-color: #f6f6f6" >
  <h2 class="title-2">
    <span class="line"></span>
    Software System Customization
    <span class="line"></span></h2>
  <!--<h4 class="title-4">SYSTEM&nbsp;CUSTOMIZATION</h4>-->
</div>

<div nz-row class="row-div" style="background-color: #f6f6f6">
  <div nz-col [nzSpan]="9" [nzOffset]="2">
    <img src="./assets/img/serve/order5.png" style="width: 100%">
  </div>
  <div nz-col [nzSpan]="9" [nzOffset]="2">
    <img src="./assets/img/serve/order6.png" style="width: 100%;margin-top: 20%">
  </div>
</div>

<div  style="text-align: center;padding-top: 60px;background-color: #3fabf3">
  <h2 class="title-2" style="color:white;">
    <span class="line" style="color:white;"></span>
    Functional Customization
    <span class="line" style="color:white;"></span></h2>
  <!--<h4 class="title-4" style="color:white;">MODULE&nbsp;CUSTOMIZATION</h4>-->
</div>

<div nz-row class="row-div" style="background-color: #3fabf3;text-align: center;color: white">
  <div nz-col [nzSpan]="2" [nzOffset]="2">
    <i class="icon font_family icon-customizing_binding"></i>
    <p class="module-desc">Promotion</p>
    <p>binding function</p>
  </div>
  <div nz-col [nzSpan]="2" [nzOffset]="1">
    <i class="icon font_family icon-btn_qrcode"></i>
    <p class="module-desc">QR code
      scan loading</p>
  </div>
  <div nz-col [nzSpan]="2" [nzOffset]="1">
    <i class="icon font_family icon-customizing_gps"></i>
    <p class="module-desc">GPS
      positioning</p>
  </div>
  <div nz-col [nzSpan]="2" [nzOffset]="1">
    <i class="icon font_family icon-customizing_veriface"></i>
    <p class="module-desc">Facial
      recognition</p>
  </div>
  <div nz-col [nzSpan]="2" [nzOffset]="1">
    <i class="icon font_family icon-customizing_detectio"></i>
    <p class="module-desc">Abnormal
      function detection</p>
  </div>
  <div nz-col [nzSpan]="2" [nzOffset]="1">
    <i class="icon font_family icon-customizing_Security"></i>
    <p class="module-desc">Multiple
      anti-theft protection</p>
  </div>
  <div nz-col [nzSpan]="2" [nzOffset]="1">
    <i class="icon font_family icon-customizing_push"></i>
    <p class="module-desc">Accurate
      pushing</p>
  </div>
</div>


<div  style="text-align: center;padding:60px 0 30px 0;" >
  <h2 class="title-2">
    <span class="line"></span>
    Cooperation Pattern
    <span class="line"></span></h2>
  <!--<h4 class="title-4">COOPERATION&nbsp;MODE</h4>-->
  <p class="order-title" >Cutting-edge marketing and innovative business model</p>
</div>


<div nz-row class="row-div" >
  <div nz-col [nzSpan]="6" [nzOffset]="2">
    <img src="./assets/img/mode_1.png"  >
    <div class="mode-div">Machine leasing</div>
  </div>
  <div nz-col [nzSpan]="6" [nzOffset]="1">
    <!--<p class="order-title">前沿营销理念、深度洞察行业，实力创新商业模式</p>-->
    <img src="./assets/img/mode_2.png"  >
    <div class="mode-div">Financing leasing</div>
  </div>
  <div nz-col [nzSpan]="6" [nzOffset]="1" >
    <img src="./assets/img/mode_3.png" style="margin: 4rem 0 4rem 0">
    <div class="mode-div">Agency distribution</div>
  </div>
</div>


<div  style="text-align: center;padding:60px 0 30px 0; background-color: #f6f6f6" >
  <h2 class="title-2">
    <span class="line"></span>
    Brand and Scene Combination——Thybot Customized Vending Machines
    <span class="line"></span></h2>
  <!--<h4 class="title-4">CHANNEL&nbsp;DOCKING</h4>-->
  <!--<p style="text-align: center;font-size: 1.6rem;color:#919191;padding-top: 2rem">Brand and Scene Combination——Thybot Customized Vending Machines</p>-->
</div>


<div nz-row class="row-div" style="background-color: #f6f6f6;padding-top: 30px">
  <div nz-col [nzSpan]="6" [nzOffset]="2" class="fixed-height1">
    <img src="./assets/img/service1.png" class="color-img">
  </div>
  <div nz-col [nzSpan]="6" [nzOffset]="1" class="fixed-height1">
    <img src="./assets/img/service2.png" class="color-img">
  </div>
  <div nz-col [nzSpan]="6" [nzOffset]="1" class="fixed-height1">
    <img src="./assets/img/service3.png" class="color-img">
  </div>
</div>


<div  style="text-align: center;padding-top: 60px;background-color: #3fabf3" id="archor8">
  <h2 class="title-2" style="color:white;">
    <span class="line" style="color:white;"></span>
    Tech Support
    <span class="line" style="color:white;"></span></h2>
  <!--<h4 class="title-4" style="color:white;">TECHNICAL&nbsp;SUPPORT</h4>-->
</div>




<div nz-row class="row-div" style="background-color: #3fabf3;text-align: center;color: white">
  <div nz-col [nzSpan]="2" [nzOffset]="2">
    <i class="icon font_family icon-support_download"></i>
    <p class="module-desc">Technical
      document download</p>
  </div>
  <div nz-col [nzSpan]="2" [nzOffset]="1">
    <i class="icon font_family icon-support_vedio"></i>
    <p class="module-desc">Video performance
      for machine installation
      and maintenance</p>
  </div>
  <div nz-col [nzSpan]="2" [nzOffset]="1">
    <i class="icon font_family icon-support_upgrade"></i>
    <p class="module-desc">Software
      upgrades</p>
  </div>
  <div nz-col [nzSpan]="2" [nzOffset]="1">
    <i class="icon font_family icon-support_monitoring"></i>
    <p class="module-desc">24-7 backend
      monitoring</p>
  </div>
  <div nz-col [nzSpan]="2" [nzOffset]="1">
    <i class="icon font_family icon-support_analyze"></i>
    <p class="module-desc">Remote
      troubleshooting analysis</p>
  </div>
  <div nz-col [nzSpan]="2" [nzOffset]="1">
    <i class="icon font_family icon-support_train"></i>
    <p class="module-desc">Professional
      training</p>
  </div>
  <div nz-col [nzSpan]="2" [nzOffset]="1">
    <i class="icon font_family icon-support_solution"></i>
    <p class="module-desc">Technical
      solutions providing</p>
  </div>
</div>


<div  style="text-align: center;padding:60px 0 30px 0;" id="archor9">
  <h2 class="title-2">
    <span class="line"></span>
    After-sales Service
    <span class="line"></span></h2>
  <h4 class="title-4">AFTER&nbsp;SERVICE</h4>
</div>

<div nz-row  style="margin: 30px 0 60px 0">
  <div nz-col [nzSpan]="9" [nzOffset]="2" class="after-service-div" >
    <p class="after-service-desc">Equipped with professional after-sales service and professional technical team for maintenance, 24*7 after-sales online service, on-site service. </p>
  </div>
  <div nz-col [nzSpan]="9" [nzOffset]="2" class="after-service-div" >
    <p class="after-service-desc">Vending machine maintenance service platform, around the clock remote monitoring.<br>&nbsp;</p>
  </div>
</div>


<app-bottom></app-bottom>
