
<div style="margin-top: 30px">
  <div nz-row>
    <div nz-col [nzLg] = "{span: 11}" [nzMd] = "{span: 11}" [nzSm] = "{span: 23}" [nzXs] = "{span: 23}"  style="background-color: white;height: 450px;">
      <div id="click_trend" class="chart-div"></div>
    </div>
    <div nz-col [nzLg] = "{span: 11, offset: 1}" [nzMd] = "{span: 11, offset: 1}" [nzSm] = "{span: 23}" [nzXs] = "{span: 23}" style="background-color: white;height: 450px">
      <div id="content_rank" class="chart-div"></div>
    </div>
  </div>
  <div nz-row>
    <div nz-col [nzLg] = "{span: 11}" [nzMd] = "{span: 11}" [nzSm] = "{span: 23}" [nzXs] = "{span: 23}"  style="background-color: white;height: 450px;margin-top: 30px">
      <div id="stay_time" class="chart-div"></div>
    </div>
    <div nz-col [nzLg] = "{span: 11, offset: 1}" [nzMd] = "{span: 11, offset: 1}" [nzSm] = "{span: 23}" [nzXs] = "{span: 23}" style="background-color: white;height: 450px;margin-top: 30px">
      <div id="content_trend" class="chart-div"></div>
    </div>
  </div>
</div>


