<div>
  <img src="./assets/img/product_banner.png" style="width: 100%">
</div>
<div style=" text-align: center;margin-top: 36px;" >
  <h2 class="title-2">
    <span class="line"></span>
    机器特点
    <span class="line"></span></h2>
  <h4 class="title-4">MACHINE&nbsp;FEATURES</h4>
</div>

<div style="text-align: center;margin-top: 60px">
  <img src="./assets/img/product_machine.png" style="width: 72%;">
</div>

<div class="row-div" style=" text-align: center;background-color: #f6f6f6" >
  <h2 class="title-2">
    <span class="line"></span>
    行业分类
    <span class="line"></span></h2>
  <h4 class="title-4">INDUSTRY&nbsp;CATEGORY</h4>
</div>

<div style="text-align: center;background-color: #f6f6f6;padding-bottom: 4rem">
  <img src="./assets/img/product/industry.png" style="width: 90%;">
</div>


<div style=" text-align: center;margin-top: 60px;" >
  <h2 class="title-2">
    <span class="line"></span>
    主推产品
    <span class="line"></span>
  </h2>
  <h4 class="title-4">FEATURED&nbsp;PRODUCTS</h4>
</div>


<div nz-row style="margin-top: 4rem">
  <div nz-col [nzXl] = "{span: 6, offset: 1}"  [nzLg] = "{span: 6, offset: 1}" [nzMd] = "{span: 6, offset: 1}" [nzSm] = "{span: 12, offset: 6}" [nzXs] = "{span: 12, offset: 6}" style="margin-top: 2rem">
    <img src="./assets/img/product_1.png" >
  </div>
  <div nz-col [nzXl] = "{span: 16, offset: 1}"  [nzLg] = "{span: 15, offset: 2}" [nzMd] = "{span: 15, offset: 2}" [nzSm] = "{span: 22, offset: 1}" [nzXs] = "{span: 22, offset: 1}">

    <h2 class="product-title">NO1:多功能综合机</h2>

    <div nz-row style="margin: 3rem 8% 0 0;background-color: #f6f6f6;">
      <div nz-col nz-col [nzXl] = "{span: 1}"  [nzLg] = "{span: 1}" [nzMd] = "{span: 2}" [nzSm] = "{span: 1}" [nzXs] = "{span: 2}" class="label-title-div">
        <span class="label-title">适用行业</span>
      </div>
      <div nz-col nz-col [nzXl] = "{span: 4, offset: 1}"  [nzLg] = "{span: 4, offset: 1}" [nzMd] = "{span: 5}" [nzSm] = "{span: 4, offset: 1}" [nzXs] = "{span: 5}" >
        <div class="label-div">
          <i class="icon font_family icon-vegetables"></i>
          <span class="label-name">蔬菜</span>
        </div>
        <div class="label-div">
          <i class="icon font_family icon-drug"></i>
          <span class="label-name">药品</span>
        </div>
      </div>
      <div nz-col  [nzXl] = "{span: 4, offset: 1}"  [nzLg] = "{span: 4, offset: 1}" [nzMd] = "{span: 5}" [nzSm] = "{span: 4, offset: 1}" [nzXs] = "{span: 5}" >
        <div class="label-div">
          <i class="icon font_family icon-fruit"></i>
          <span class="label-name">水果</span>
        </div>
        <div class="label-div">
          <i class="icon font_family icon-drink"></i>
          <span class="label-name">饮料</span>
        </div>
      </div>
      <div nz-col  [nzXl] = "{span: 4, offset: 1}"  [nzLg] = "{span: 4, offset: 1}" [nzMd] = "{span: 5}" [nzSm] = "{span: 4, offset: 1}" [nzXs] = "{span: 5}"  >
        <div class="label-div">
          <i class="icon font_family icon-meat"></i>
          <span class="label-name">肉类</span>
        </div>
        <div class="label-div">
          <i class="icon font_family icon-snacks"></i>
          <span class="label-name">零食</span>
        </div>
      </div>
      <div nz-col [nzXl] = "{span: 4, offset: 1}"  [nzLg] = "{span: 4, offset: 1}" [nzMd] = "{span: 5}" [nzSm] = "{span: 4, offset: 1}" [nzXs] = "{span:5}" >
        <div class="label-div">
          <i class="icon font_family icon-fresh"></i>
          <span class="label-name">生鲜</span>
        </div>
        <div class="label-div">
          <i class="icon font_family icon-daily_use"></i>
          <span class="label-name-more">生活用品</span>
        </div>
      </div>
    </div>


    <div nz-row style="margin-top: 60px">
      <div nz-col [nzXl] = "{span: 10}"  [nzLg] = "{span: 10}" [nzMd] = "{span: 10}" [nzSm] = "{span: 11}" [nzXs] = "{span: 11}">
        <table style="width: 100%">
          <tr class="table-row" >
            <td nz-td class="table-title">整机尺寸</td>
            <td class="table-desc">1120mm*800mm*2000mm</td>
          </tr>
          <tr class="table-row"  >
            <td class="table-title">整机容量</td>
            <td class="table-desc">6层、11道/层（可调）</td>
          </tr>
          <tr class="table-row"  >
            <td class="table-title">整机重量</td>
            <td class="table-desc">400Kg</td>
          </tr>
          <tr class="table-row"  >
            <td class="table-title">额定功率</td>
            <td class="table-desc">800W(制冷)：260W（待机）</td>
          </tr>
          <tr class="table-row"  >
            <td class="table-title">制冷剂</td>
            <td class="table-desc">R134a</td>
          </tr>
          <tr class="table-row"  >
            <td class="table-title">制冷方式</td>
            <td class="table-desc">风冷</td>
          </tr>
        </table>
      </div>
      <div nz-col [nzXl] = "{span: 10}"  [nzLg] = "{span: 10}" [nzMd] = "{span: 10}" [nzSm] = "{span: 11}" [nzXs] = "{span: 11}">
        <table style="width: 100%">
          <tr class="table-row"  >
            <td class="table-title">存储温度</td>
            <td class="table-desc">2-20℃（可调）</td>
          </tr>
          <tr class="table-row"  >
            <td class="table-title">网络</td>
            <td class="table-desc">3G/4G，千兆以太网，WIFI(可选)</td>
          </tr>
          <tr class="table-row"  >
            <td class="table-title">支付系统</td>
            <td class="table-desc">微信、支付宝</td>
          </tr>
          <tr class="table-row"  >
            <td class="table-title">界面显示屏</td>
            <td class="table-desc">32寸多点电容触摸显示屏</td>
          </tr>
          <tr class="table-row"  >
            <td class="table-title">出货方式</td>
            <td class="table-desc">皮带传递加上下运动机构</td>
          </tr>
          <tr class="table-row"  >
            <td class="table-title">异常检测功能</td>
            <td class="table-desc">开关门传感器</td>
          </tr>
        </table>
      </div>
    </div>

  </div>
</div>


<div nz-row style="margin-top: 10rem">
  <div nz-col [nzXl] = "{span: 6, offset: 1}"  [nzLg] = "{span: 6, offset: 1}" [nzMd] = "{span: 6, offset: 1}" [nzSm] = "{span: 12, offset: 6}" [nzXs] = "{span: 12, offset: 6}" style="margin-top: 2rem">
    <img src="./assets/img/product_2.png">
  </div>
  <div nz-col [nzXl] = "{span: 16, offset: 1}"  [nzLg] = "{span: 15, offset: 2}" [nzMd] = "{span: 15, offset: 2}" [nzSm] = "{span: 22, offset: 1}" [nzXs] = "{span: 22, offset: 1}">
    <h2 class="product-title">NO2:万能机</h2>

    <div nz-row style="margin-top: 60px">
      <div nz-col [nzXl] = "{span: 10}"  [nzLg] = "{span: 10}" [nzMd] = "{span: 10}" [nzSm] = "{span: 11}" [nzXs] = "{span: 11}">

        <table style="width: 100%">
          <tr class="table-row" >
            <td nz-td class="table-title">整机尺寸</td>
            <td class="table-desc">1200mm*900mm*2000mm</td>
          </tr>
          <tr class="table-row"  style="height: 96px" >
            <td class="table-title">整机容量</td>
            <td class="table-desc">106个，大货位73个，小货位33个<br>(可根据实际定制)</td>
          </tr>
          <tr class="table-row"  >
            <td class="table-title">货架结构</td>
            <td class="table-desc">分前后货架，前货架可打开</td>
          </tr>
          <tr class="table-row"  >
            <td class="table-title">最大货物尺寸</td>
            <td class="table-desc">200mm×200mm×80mm</td>
          </tr>
          <tr class="table-row"  >
            <td class="table-title">最小货物尺寸</td>
            <td class="table-desc">120mm×200mm×80mm</td>
          </tr>
          <tr class="table-row"  >
            <td class="table-title">整机重量</td>
            <td class="table-desc">500Kg</td>
          </tr>
          <tr class="table-row"  >
            <td class="table-title">额定功率</td>
            <td class="table-desc">350W</td>
          </tr>
          <tr class="table-row"  >
            <td class="table-title">网络</td>
            <td class="table-desc">3G/4G、千兆以太网、Wifi</td>
          </tr>
        </table>
      </div>
      <div nz-col [nzXl] = "{span: 10}"  [nzLg] = "{span: 10}" [nzMd] = "{span: 10}" [nzSm] = "{span: 11}" [nzXs] = "{span: 11}">
        <table style="width: 100%">
          <tr class="table-row"  >
            <td class="table-title">支付系统</td>
            <td class="table-desc">支付宝、微信(银联、信用卡为选配)</td>
          </tr>
          <tr class="table-row"  style="height: 96px">
            <td class="table-title">异常检测功能</td>
            <td class="table-desc">商品有无、商品超高、震动传感器、<br>角度传感器、关门传感器、GPS/北斗<br>双卫星定位、异常指示灯</td>
          </tr>
          <tr class="table-row"  >
            <td class="table-title">界面显示屏</td>
            <td class="table-desc">43寸红外液晶触摸屏</td>
          </tr>
          <tr class="table-row"  >
            <td class="table-title">出货方式</td>
            <td class="table-desc">机械手抓取+上下运动机构</td>
          </tr>
          <tr class="table-row"  >
            <td class="table-title">前取物门</td>
            <td class="table-desc">电动开关门，具防夹手功能</td>
          </tr>
          <tr class="table-row"  >
            <td class="table-title">后防盗门</td>
            <td class="table-desc">电动开关门</td>
          </tr>
          <tr class="table-row"  >
            <td class="table-title">监控功能</td>
            <td class="table-desc">内/外摄像头</td>
          </tr>
          <tr class="table-row"  >
            <td class="table-title">附加选配</td>
            <td class="table-desc">UPS系统、POS机、二维码扫描仪</td>
          </tr>
        </table>
      </div>
    </div>




    <div nz-row style="margin: 3rem 8% 4rem 0;background-color: #f6f6f6;">
      <div nz-col [nzXl] = "{span: 1}"  [nzLg] = "{span: 1}" [nzMd] = "{span: 2}" [nzSm] = "{span: 1}" [nzXs] = "{span: 2}" class="label-title-div-short">
        <span class="label-title-short">适用行业</span>
      </div>
      <div nz-col [nzXl] = "{span: 3, offset: 1}"  [nzLg] = "{span: 4}" [nzMd] = "{span: 5, offset: 1}" [nzSm] = "{span: 4, offset: 1}" [nzXs] = "{span: 4, offset: 1}" >
        <div class="label-div" style="margin-top: 40px">
          <i class="icon font_family icon-vegetables"></i>
          <span class="label-name">手机</span>
        </div>

      </div>
      <div nz-col [nzXl] = "{span: 3, offset: 1}"  [nzLg] = "{span: 4}" [nzMd] = "{span: 5, offset: 1}" [nzSm] = "{span: 4}" [nzXs] = "{span: 4}" >
        <div class="label-div"  style="margin-top: 40px">
          <i class="icon font_family icon-fruit"></i>
          <span class="label-name">iPad</span>
        </div>

      </div>
      <div nz-col [nzXl] = "{span: 3, offset: 1}"  [nzLg] = "{span: 4}" [nzMd] = "{span: 5, offset: 1}" [nzSm] = "{span: 4}" [nzXs] = "{span: 4}"  >
        <div class="label-div"  style="margin-top: 40px">
          <i class="icon font_family icon-meat"></i>
          <span class="label-name-more">电子产品</span>
        </div>

      </div>
      <div nz-col [nzXl] = "{span: 3, offset: 1}"  [nzLg] = "{span: 4}" [nzMd] = "{span: 5, offset: 1}" [nzSm] = "{span: 4}" [nzXs] = "{span: 4}">
        <div class="label-div"  style="margin-top: 40px">
          <i class="icon font_family icon-fresh"></i>
          <span class="label-name-more">贵重礼品</span>
        </div>
      </div>

      <div nz-col [nzXl] = "{span: 3, offset: 1}"  [nzLg] = "{span: 4}" [nzMd] = "{span: 5, offset: 1}" [nzSm] = "{span: 4}" [nzXs] = "{span: 4}" >
        <div class="label-div"  style="margin-top: 40px">
          <i class="icon font_family icon-drug"></i>
          <span class="label-name">首饰</span>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="row-div" style=" text-align: center;" >
  <h2 class="title-2">
    <span class="line"></span>
    产品展示
    <span class="line"></span></h2>
  <h4 class="title-4">PRODUCT&nbsp;SHOW</h4>
</div>


<div nz-row>
  <div nz-col [nzXl] = "{span: 5, offset: 2}"  [nzLg] = "{span: 5, offset: 2}" [nzMd] = "{span: 5, offset: 2}" [nzSm] = "{span: 6}" [nzXs] = "{span: 6}" class="bg_g"  (mouseover)="show_name(0)" (mouseout)="hide_name(0)">
    <div class="hide-div" [class.show-div]="is_show[0]">
      <span class="product-name">冰河系列</span>
    </div>
    <img src="./assets/img/product/show1.png" class="show-img">
  </div>
  <div nz-col [nzXl] = "{span: 5}"  [nzLg] = "{span: 5}" [nzMd] = "{span: 5}" [nzSm] = "{span: 6}" [nzXs] = "{span: 6}" class="bg_b"   (mouseover)="show_name(1)" (mouseout)="hide_name(1)">
    <div class="hide-div" [class.show-div]="is_show[1]">
      <span class="product-name">G2S PLUS</span>
    </div>
    <img src="./assets/img/product/show2.png" class="show-img">
  </div>
  <div nz-col [nzXl] = "{span: 5}"  [nzLg] = "{span: 5}" [nzMd] = "{span: 5}" [nzSm] = "{span: 6}" [nzXs] = "{span: 6}" class="bg_g" (mouseover)="show_name(2)" (mouseout)="hide_name(2)">
    <div class="hide-div" [class.show-div]="is_show[2]">
      <span class="product-name">综合机</span>
    </div>
    <img src="./assets/img/product/show3.png" class="show-img">
  </div>
  <div nz-col [nzXl] = "{span: 5}"  [nzLg] = "{span: 5}" [nzMd] = "{span: 5}" [nzSm] = "{span: 6}" [nzXs] = "{span: 6}"  class="bg_1" (mouseover)="show_name(3)" (mouseout)="hide_name(3)">
    <div class="hide-div" [class.show-div]="is_show[3]">
      <span class="product-name">熟食系列</span>
    </div>
    <img src="./assets/img/product/show4.png" class="show-img">
  </div>
</div>

<div nz-row>
  <div nz-col  [nzXl] = "{span: 5, offset: 2}"  [nzLg] = "{span: 5, offset: 2}" [nzMd] = "{span: 5, offset: 2}" [nzSm] = "{span: 6}" [nzXs] = "{span: 6}" class="bg_g" (mouseover)="show_name(4)" (mouseout)="hide_name(4)">
    <div class="hide-div" [class.show-div]="is_show[4]">
      <span class="product-name">G2S</span>
    </div>
    <img src="./assets/img/product/show5.png" class="show-img">
  </div>
  <div nz-col [nzXl] = "{span: 5}"  [nzLg] = "{span: 5}" [nzMd] = "{span: 5}" [nzSm] = "{span: 6}" [nzXs] = "{span: 6}" class="bg_g" (mouseover)="show_name(5)" (mouseout)="hide_name(5)">
    <div class="hide-div" [class.show-div]="is_show[5]">
      <span class="product-name">冰河系列</span>
    </div>
    <img src="./assets/img/product/show6.png" class="show-img">
  </div>
  <div nz-col [nzXl] = "{span: 5}"  [nzLg] = "{span: 5}" [nzMd] = "{span: 5}" [nzSm] = "{span: 6}" [nzXs] = "{span: 6}" class="bg_w" (mouseover)="show_name(6)" (mouseout)="hide_name(6)">
    <div class="hide-div" [class.show-div]="is_show[6]">
      <span class="product-name">臻荣系列</span>
    </div>
    <img src="./assets/img/product/show7.png" class="show-img">
  </div>
  <div nz-col [nzXl] = "{span: 5}"  [nzLg] = "{span: 5}" [nzMd] = "{span: 5}" [nzSm] = "{span: 6}" [nzXs] = "{span: 6}"  class="bg_b" (mouseover)="show_name(7)" (mouseout)="hide_name(7)">
    <div class="hide-div" [class.show-div]="is_show[7]">
      <span class="product-name">万能机</span>
    </div>
    <img src="./assets/img/product/show8.png" class="show-img">
  </div>
</div>

<div nz-row  style="padding-bottom: 8rem">
  <div nz-col  [nzXl] = "{span: 5, offset: 2}"  [nzLg] = "{span: 5, offset: 2}" [nzMd] = "{span: 5, offset: 2}" [nzSm] = "{span: 6}" [nzXs] = "{span: 6}" class="bg_w" (mouseover)="show_name(8)" (mouseout)="hide_name(8)">
    <div class="hide-div" [class.show-div]="is_show[8]">
      <span class="product-name">综合机</span>
    </div>
    <img src="./assets/img/product/show9.png"  class="show-img">
  </div>
  <div nz-col [nzXl] = "{span: 5}"  [nzLg] = "{span: 5}" [nzMd] = "{span: 5}" [nzSm] = "{span: 6}" [nzXs] = "{span: 6}" class="bg_2" (mouseover)="show_name(9)"  (mouseout)="hide_name(9)">
    <div class="hide-div" [class.show-div]="is_show[9]">
      <span class="product-name">臻荣系列</span>
    </div>
    <img src="./assets/img/product/show10.png"  class="show-img">
  </div>
  <div nz-col [nzXl] = "{span: 5}"  [nzLg] = "{span: 5}" [nzMd] = "{span: 5}" [nzSm] = "{span: 6}" [nzXs] = "{span: 6}" class="bg_g" (mouseover)="show_name(10)"  (mouseout)="hide_name(10)">
    <div class="hide-div" [class.show-div]="is_show[10]">
      <span class="product-name">玲珑系列</span>
    </div>
    <img src="./assets/img/product/show11.png"  class="show-img">
  </div>
  <div nz-col [nzXl] = "{span: 5}"  [nzLg] = "{span: 5}" [nzMd] = "{span: 5}" [nzSm] = "{span: 6}" [nzXs] = "{span: 6}"  class="bg_w" (mouseover)="show_name(11)" (mouseout)="hide_name(11)">
    <div class="hide-div" [class.show-div]="is_show[11]">
      <span class="product-name">经典系列</span>
    </div>
    <img src="./assets/img/product/show12.png"  class="show-img">
  </div>
</div>


<app-bottom></app-bottom>

