<div>
  <img src="./assets/img/case/banner.jpg" style="width: 100%">
</div>

<div style="padding: 8rem 0 8rem 0;background-color: #f8f8f8">

  <div nz-row >
    <div nz-col [nzSpan]="8" [nzOffset]="2" class="overflow-div fixed-height2" >
      <img src="./assets/img/case/1.jpg"   class="color-img-big">
      <div class="blue-div" >
        <div class="factory-name">
          <p class="name1-w">M1 SERIES</p>
          <span class="name3-w">Happy Campus</span>
        </div>
      </div>
    </div>

    <div nz-col [nzSpan]="12">

      <div nz-row  style="background-color: white;" >
        <div nz-col [nzSpan]="8"  style="position: relative" class="fixed-height1">
          <div class="triangle_right"></div>
          <div class="factory-name">
            <p class="name2-b">CLASSIC SERIES</p>
            <span class="name3-b">Book Stories</span>
          </div>
        </div>
        <div nz-col [nzSpan]="16" class="overflow-div fixed-height1" >
          <img  src="./assets/img/case/2.jpg"  class="color-img">
        </div>
      </div>

      <div nz-row style="background-color: white" >
        <div nz-col [nzSpan]="16" class="overflow-div fixed-height1" >
          <img  src="./assets/img/case/3.jpg"  class="color-img">
        </div>
        <div nz-col [nzSpan]="8"  style="position: relative">
          <div class="triangle_left"></div>
          <div class="factory-name">
            <p class="name2-b">CLASSIC SERIES</p>
            <span class="name3-b">Mystery House</span>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div nz-row>
    <div nz-col [nzSpan]="20" [nzOffset]="2" style="background-color: white">
      <div nz-col [nzSpan]="6" class="overflow-div fixed-height1">
        <img src="./assets/img/case/4.jpg"  class="color-img">
      </div>
      <div nz-col [nzSpan]="6"  class="fixed-height1">
        <div class="triangle_left"></div>
        <div class="factory-name">
          <p class="name2-b">PROSPEROUS SERIES</p>
        </div>
      </div>
      <div nz-col [nzSpan]="6" style="background-color: #3fabf3" class="fixed-height1">
        <div class="triangle_right"></div>
        <div class="factory-name">
          <p class="name2-w">CLASSIC SERIES</p>
        </div>
      </div>
      <div nz-col [nzSpan]="6" class="overflow-div fixed-height1">
        <img src="./assets/img/case/5.jpg"  class="color-img">
      </div>
    </div>
  </div>

</div>


<div style="padding: 8rem 0 8rem 0;">
  <div nz-row >
    <div nz-col [nzSpan]="20" [nzOffset]="2" style="background-color: #f8f8f8">
      <div nz-col [nzSpan]="6"  class="fixed-height1" >
        <div class="triangle_right"></div>
        <div class="factory-name">
          <p class="name2-b">GLACIER SERIES</p>
        </div>
      </div>
      <div nz-col [nzSpan]="6" class="overflow-div fixed-height1">
        <img  src="./assets/img/case/6.jpg"  class="color-img">
      </div>
      <div nz-col [nzSpan]="6" class="fixed-height1">
        <div class="triangle_right"></div>
        <div class="factory-name">
          <p class="name2-b">GLACIER SERIES</p>
        </div>
      </div>
      <div nz-col [nzSpan]="6" class="overflow-div fixed-height1">
        <img src="./assets/img/case/7.jpg"  class="color-img">
      </div>
    </div>
  </div>
  <div nz-row >
    <div nz-col [nzSpan]="20" [nzOffset]="2" style="background-color: #f8f8f8">
      <div nz-col [nzSpan]="6"  class="overflow-div fixed-height1">
        <img src="./assets/img/case/8.jpg"  class="colorful">
      </div>
      <div nz-col [nzSpan]="6" class="fixed-height1">
        <div class="triangle_left"></div>
        <div class="factory-name">
          <p class="name2-b">GLACIER SERIES</p>

        </div>
      </div>
      <div nz-col [nzSpan]="6" class="overflow-div fixed-height1">
        <img src="./assets/img/case/9.jpg"  class="colorful">
      </div>
      <div nz-col [nzSpan]="6" class="fixed-height1">
        <div class="triangle_left"></div>
        <div class="factory-name">
          <p class="name2-b">GLACIER SERIES</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="text-align: center;margin-top: 4rem">
  <h2 class="title-2">
    <span class="line"></span>
    Boao Airport
    <span class="line"></span></h2>
</div>

<div nz-row class="row-div">

  <div nz-col [nzSpan]="5" [nzOffset]="2" class="overflow-div fixed-height1">
    <img src="./assets/img/case/10.jpg"  class="boao-img" >
  </div>

  <div nz-col [nzSpan]="5" class="overflow-div fixed-height1">
    <img src="./assets/img/case/11.jpg"   class="boao-img">
  </div>
  <div nz-col [nzSpan]="5" class="overflow-div fixed-height1">
    <img src="./assets/img/case/12.jpg"    class="boao-img">
  </div>
  <div nz-col [nzSpan]="5" class="overflow-div fixed-height1">
    <img src="./assets/img/case/13.jpg"   class="boao-img">
  </div>

</div>


<div nz-row   class="row-div bg-color">
  <div nz-col [nzSpan]="9">
      <div id="swiper1" class="swiper-container" >
        <div class="swiper-wrapper">
          <div class="swiper-slide" *ngFor="let exhibition of exhibition_data" >
            <div style="margin-top: 11rem" *ngIf="swiper1">
              <p class="name1-b">{{exhibition.title}}</p>
              <span class="name3-b">{{exhibition.position}}</span>
            </div>
          </div>
        </div>
      </div>
  </div>

  <div nz-col [nzSpan]="14" style="position: relative" >
    <div class="swiper-btn-div " *ngIf="swiper">
      <button class="swiper-btn"  [class.swiper-btn-lock]="swiper.activeIndex == 0" (click)="swiper_pre()" ><</button>
      <button class="swiper-btn"  [class.swiper-btn-lock]="swiper.activeIndex == 5" (click)="swiper_next()" >></button>
    </div>
    <div id="swiper" class="swiper-container" >
      <div class="swiper-wrapper">
        <div class="swiper-slide"  style="background-color: #f8f8f8" *ngFor="let exhibition of exhibition_data" >
          <img [src]="exhibition.img"  class="exhibition-img">
        </div>

      </div>
    </div>
  </div>
</div>

<div nz-row class="row-div">
  <div nz-col [nzSpan]="20" [nzOffset]="2" >
    <h2 class="title-2">
      <span class="line"></span>
      Thybot Automated Retail Showroom
      <span class="line"></span>
    </h2>
  </div>

</div>


<div nz-row style="padding-bottom: 8rem;">
  <div nz-col [nzSpan]="20" [nzOffset]="2">
    <div nz-row  class="bg-color" >
      <div nz-col [nzSpan]="6"  class="fixed-height1" style="text-align: center;padding-top: 5rem">
        <div >
          <p class="name1-b">START WITH THE WORLD</p>
          <p class="name4-b">Fully implemented a comprehensive  quality management system (TQM).</p>
        </div>
      </div>
      <div nz-col [nzSpan]="6"  class="overflow-div fixed-height1 ">
        <img src="./assets/img/case/hall1.jpg" class="colorful">
      </div>
      <div nz-col [nzSpan]="6"  class="fixed-height1" style="text-align: center;padding-top: 6rem;background-color: #3fabf3">
        <div  >
          <p class="name1-w">LEAD INDUSTRY</p>
          <p class="name4-w">Top technology in the design, research, development and production</p>
        </div>
      </div>
      <div nz-col [nzSpan]="6" class="overflow-div fixed-height1">
        <img src="./assets/img/case/hall2.jpg"  class="colorful">
      </div>
    </div>
  </div>

</div>

<app-bottom></app-bottom>
