<div class="row-div" style="background-color: black;">
  <div class="flex-div" style="width: 100%">
    <div style="flex: 1;text-align: right">
    </div>
    <div style="flex: 3;text-align: right">
      <img src="./assets/img/er_wei_ma.jpg" >
    </div>
    <div style="flex: 10;text-align: left;padding-left: 1rem">
      <p class="text">Web: en.thybot.com</p>
      <p class="text">Email: sale1@thybot.com</p>
      <p class="text">Tel & Fax: 0086-756-6893285</p>
      <br>
      <p class="text">Address: No. 33，Ke Ji San Lu,
        Tang Jia Bay,High-Tech Zone,ZhuHai, GuangDong, China</p>
    </div>
  </div>
</div>
<div style="background-color: black;text-align: center;padding: 0 1rem 1rem 1rem">
  <p class="bottom-text">Copyright DataGrand Tech Inc. All Rights Reserved.  粤ICP备14038554号</p>
</div>




