<div>
  <img src="./assets/img/about/thybot.jpg">
</div>

<div class="row-div">
  <h2 class="title-2" style="padding-bottom:2rem">Company Profile</h2>

  <div style="background-color: #f8f8f8;padding: 0.6rem">
    <p class="about-text">&nbsp;&nbsp;&nbsp;&nbsp;Zhuhai Thybot Robotics Co Ltd, a high-tech innovation enterprise, devoted to provide IoT new retail solutions to our customers, was founded in November 2013 in China.</p>
    <p class="about-text">&nbsp;&nbsp;&nbsp;&nbsp;Thybot Robotics has a very strong R&D center for automated retail and IOT platform, continuouslybring our technologies to the market. In our automated manufacturing plant, we are dedicated inautomated retail store, integrative LCD touch screen and the intelligent commercial refrigerator.</p>
  </div>
</div>


<div class="flex-div row-div" style="padding-top: 0">
  <div style="flex: 10;background-color: #f8f8f8;padding: 1rem 0.6rem 1rem 0.6rem">
    <h2 class="title-2">Our Vision</h2>
    <p class="about-text">&nbsp;&nbsp;&nbsp;&nbsp;To bring a more convenient, high
      quality and a greater life to the public.</p>
  </div>
  <div style="flex: 1"></div>
  <div style="flex: 10;background-color: #f8f8f8;padding: 1rem 0.6rem 1rem 0.6rem">
    <h2 class="title-2">Thybotnese Culture</h2>
    <p class="about-text">Listening</p>
    <p class="about-text">Thinking</p>
    <p class="about-text">Take action</p>
    <p class="about-text">Deep learning</p>
  </div>
</div>

<div class="row-div" style="padding-top: 0">
  <div class="flex-div" style="background-color: #f8f8f8;padding: 1rem 0.4rem 1rem 0">
    <div style="flex: 1;padding-left: 1rem">
      <h2 class="title-2">Our Mission</h2>
    </div>
    <div style="flex: 1">
      <p class="about-text">&nbsp;&nbsp;&nbsp;&nbsp;We congregate the challenges and pressures what the customer concern, to provide a competitive IoT newretail solution and service, constantly create the
        maximum value for our customers.</p>
    </div>
  </div>

</div>





<div class="row-div" style="text-align: center">
  <h2 class="title-2">
    <!--<span class="line"></span>-->
    Factory Profile
    <!--<span class="line"></span>-->
  </h2>
  <p class="about-text">&nbsp;&nbsp;We have a fully automated manufacturing and assembly line and an advanced total quality management system (TQM) which ensure the consistency and stability of product quality.</p>
  <div class="flex-div" style="padding-top: 1rem">
    <div style="flex: 8;">
      <img src="./assets/img/about/factory1.png" >
      <p class="factory-name">ISO9001,TOM</p>
      <p class="factory-name">&nbsp;</p>
      <p class="factory-name">&nbsp;</p>

    </div>
    <div style="flex: 1"></div>
    <div style="flex: 8;">
      <img src="./assets/img/about/factory2.png" >
      <p class="factory-name">Tester of Analog Transport</p>
      <p class="factory-name">&nbsp;</p>
    </div>
    <div style="flex: 1"></div>
    <div style="flex: 8;">
      <img src="./assets/img/about/factory3.png" >
      <p class="factory-name">Automated Manufacturing & Assembly Line</p>
    </div>
  </div>

</div>

<div class="row-div">
  <div style="border: solid 1px #f0f0f0;text-align: center;padding: 1rem">
    <h2 class="title-2">Thybot Machines Operating Locations</h2>
    <hr style="width: 70%;margin: 1rem 15% 1rem 15%">
    <div style="width: 100%;height: 70vw" id="map"></div>
  </div>
</div>



<app-bottom></app-bottom>
