<div >
  <img src="./assets/img/service_banner.png" style="width: 100%">
</div>
<div style=" text-align: center;margin-top: 60px;" >
  <h2 class="title-2">
    <span class="line"></span>
    专业定制
    <span class="line"></span></h2>
  <h4 class="title-4">PROFESSIONAL&nbsp;CUSTOMIZATION</h4>
</div>

<div nz-row class="row-div">
  <div nz-col [nzSpan]="3" [nzOffset]="3" style="text-align: center">
    <img src="./assets/img/order0.png" style="width: 94%">
  </div>
  <div nz-col [nzSpan]="8" [nzOffset]="2" style="text-align: center">
    <p class="order-title" style="background-color: #f6f6f6">细分市场，想你所想,做您的自动售货机专家。</p>
    <img src="./assets/img/order2.png" style="width: 40%;margin-right: 8%">
    <img src="./assets/img/order3.png" style="width: 40%;margin-left: 8%">
  </div>
  <div nz-col [nzSpan]="3" [nzOffset]="2" style="text-align: center">
    <img src="./assets/img/order4.png" >
  </div>
</div>

<div  style="text-align: center;padding:60px 0 30px 0; background-color: #f6f6f6" >
  <h2 class="title-2">
    <span class="line"></span>
    软件系统定制
    <span class="line"></span></h2>
  <h4 class="title-4">SYSTEM&nbsp;CUSTOMIZATION</h4>
</div>

<div nz-row class="row-div" style="background-color: #f6f6f6">
  <div nz-col [nzSpan]="9" [nzOffset]="2">
    <img src="./assets/img/order5.png" style="width: 100%">
  </div>
  <div nz-col [nzSpan]="9" [nzOffset]="2">
    <img src="./assets/img/order6.png" style="width: 100%;margin-top: 20%">
  </div>
</div>

<div  style="text-align: center;padding-top: 60px;background-color: #3fabf3">
  <h2 class="title-2" style="color:white;">
    <span class="line" style="color:white;"></span>
    模块定制
    <span class="line" style="color:white;"></span></h2>
  <h4 class="title-4" style="color:white;">MODULE&nbsp;CUSTOMIZATION</h4>
</div>

<div nz-row class="row-div" style="background-color: #3fabf3;text-align: center;color: white">
  <div nz-col [nzSpan]="2" [nzOffset]="2">
    <i class="icon font_family icon-customizing_binding"></i>
    <p class="module-desc">促销绑定出货</p>
  </div>
  <div nz-col [nzSpan]="2" [nzOffset]="1">
    <i class="icon font_family icon-btn_qrcode"></i>
    <p class="module-desc">二维码扫描上货</p>
  </div>
  <div nz-col [nzSpan]="2" [nzOffset]="1">
    <i class="icon font_family icon-customizing_gps"></i>
    <p class="module-desc">GPS定位</p>
  </div>
  <div nz-col [nzSpan]="2" [nzOffset]="1">
    <i class="icon font_family icon-customizing_veriface"></i>
    <p class="module-desc">人脸识别</p>
  </div>
  <div nz-col [nzSpan]="2" [nzOffset]="1">
    <i class="icon font_family icon-customizing_detectio"></i>
    <p class="module-desc">异常功能检测</p>
  </div>
  <div nz-col [nzSpan]="2" [nzOffset]="1">
    <i class="icon font_family icon-customizing_Security"></i>
    <p class="module-desc">双重防盗</p>
  </div>
  <div nz-col [nzSpan]="2" [nzOffset]="1">
    <i class="icon font_family icon-customizing_push"></i>
    <p class="module-desc">精准推送</p>
  </div>
</div>


<div  style="text-align: center;padding:60px 0 30px 0;" >
  <h2 class="title-2">
    <span class="line"></span>
    合作模式
    <span class="line"></span></h2>
  <h4 class="title-4">COOPERATION&nbsp;MODE</h4>
</div>


<div nz-row class="row-div" >
  <div nz-col [nzSpan]="6" [nzOffset]="2">
    <img src="./assets/img/mode_1.png"  >
    <div class="mode-div">机器租赁模式</div>
  </div>
  <div nz-col [nzSpan]="6" [nzOffset]="1">
    <p class="order-title">前沿营销理念、深度洞察行业，实力创新商业模式</p>
    <img src="./assets/img/mode_2.png"  >
    <div class="mode-div">融资租赁模式</div>
  </div>
  <div nz-col [nzSpan]="6" [nzOffset]="1">
    <img src="./assets/img/mode_3.png" >
    <div class="mode-div">代理经销模式</div>
  </div>
</div>


<div  style="text-align: center;padding:60px 0 30px 0; background-color: #f6f6f6" >
  <h2 class="title-2">
    <span class="line"></span>
    渠道对接
    <span class="line"></span></h2>
  <h4 class="title-4">CHANNEL&nbsp;DOCKING</h4>
  <p style="text-align: center;font-size: 1.6rem;color:#919191;padding-top: 2rem">纵向打通资源、横向整合业务、为您穿针引线</p>
</div>


<div nz-row class="row-div" style="background-color: #f6f6f6;padding-top: 30px">
  <div nz-col [nzSpan]="6" [nzOffset]="2" class="fixed-height1">
    <img src="./assets/img/service1.png" class="color-img">
  </div>
  <div nz-col [nzSpan]="6" [nzOffset]="1" class="fixed-height1">
    <img src="./assets/img/service2.png" class="color-img">
  </div>
  <div nz-col [nzSpan]="6" [nzOffset]="1" class="fixed-height1">
    <img src="./assets/img/service3.png" class="color-img">
  </div>
</div>


<div  style="text-align: center;padding-top: 60px;background-color: #3fabf3">
  <h2 class="title-2" style="color:white;">
    <span class="line" style="color:white;"></span>
    技术支持
    <span class="line" style="color:white;"></span></h2>
  <h4 class="title-4" style="color:white;">TECHNICAL&nbsp;SUPPORT</h4>
</div>




<div nz-row class="row-div" style="background-color: #3fabf3;text-align: center;color: white">
  <div nz-col [nzSpan]="2" [nzOffset]="2">
    <i class="icon font_family icon-customizing_binding"></i>
    <p class="module-desc">技术资料下载</p>
  </div>
  <div nz-col [nzSpan]="2" [nzOffset]="1">
    <i class="icon font_family icon-btn_qrcode"></i>
    <p class="module-desc">安装维护视频解说</p>
  </div>
  <div nz-col [nzSpan]="2" [nzOffset]="1">
    <i class="icon font_family icon-customizing_gps"></i>
    <p class="module-desc">软件升级</p>
  </div>
  <div nz-col [nzSpan]="2" [nzOffset]="1">
    <i class="icon font_family icon-customizing_veriface"></i>
    <p class="module-desc">全天候远程监控</p>
  </div>
  <div nz-col [nzSpan]="2" [nzOffset]="1">
    <i class="icon font_family icon-customizing_detectio"></i>
    <p class="module-desc">后台系统故障排除</p>
  </div>
  <div nz-col [nzSpan]="2" [nzOffset]="1">
    <i class="icon font_family icon-customizing_Security"></i>
    <p class="module-desc">专业培训</p>
  </div>
  <div nz-col [nzSpan]="2" [nzOffset]="1">
    <i class="icon font_family icon-customizing_push"></i>
    <p class="module-desc">解决方案提供</p>
  </div>
</div>


<div  style="text-align: center;padding:60px 0 30px 0;">
  <h2 class="title-2">
    <span class="line"></span>
    售后服务
    <span class="line"></span></h2>
  <h4 class="title-4">AFTER&nbsp;SERVICE</h4>
</div>

<div nz-row  style="margin: 30px 0 60px 0">
  <div nz-col [nzSpan]="9" [nzOffset]="2" class="after-service-div" >
    <p class="after-service-desc">配备专业专职的售后服务和技术人员进行后期维护，提供7×24小时售后服务，在接到通知之时起2小时内响应维修要求，24 小时内赶赴现场处理问题。一般故障 24 小时内解决，重大故障72小时内解决。</p>
  </div>
  <div nz-col [nzSpan]="9" [nzOffset]="2" class="after-service-div" >
    <p class="after-service-desc">搭建自动售货机维修服务平台，对运营中的售货机进行登记及远程监控，并招募相应的维修人员进行培训考核，考核合格的维修人员可以就近领取维修的任务并获得相应的报酬，也能及时解决运营者的燃眉之急，减少运营的损失。</p>
  </div>
</div>


<app-bottom></app-bottom>
