<!--<div>-->
  <!--<img src="./assets/img/solution/banner1.png">-->
<!--</div>-->

<app-stars></app-stars>
<div class="row-div" >
  <h2 class="title-2">
    <span class="line"></span>
    Purchasing Channel
    <span class="line"></span></h2>



  <div class=" flex-div">
    <div style="flex: 1;" class="pay-text">
      APP
    </div>
    <div style="flex: 2;text-align: center;padding-top: 1rem" >
      <img src="./assets/img/solution/pay1.png" >
    </div>
  </div>

  <div class=" flex-div">
    <div style="flex: 2;text-align: center">
      <img src="./assets/img/solution/pay2.png" >
    </div>
    <div style="flex: 1;" class="pay-text">
      Machine
    </div>
  </div>


  <div class=" flex-div">
    <div style="flex: 1" class="pay-text">
      Other platform
    </div>
    <div style="flex: 2;text-align: center;padding-top: 1rem">
      <img src="./assets/img/solution/pay3.png">
    </div>
  </div>

</div>

<div class="row-div" style="background-color: #f8f8f8">
  <h2 class="title-2">
    <span class="line"></span>
    Payment System
    <span class="line"></span></h2>


  <div class=" flex-div">

    <div style="flex: 1">
      <div class="pay-text" style="margin-bottom: 1.6rem">Bill</div>
      <div class="pay-text">Coin</div>
      <div class="pay-text" style="margin-top: 1.6rem">Bank card</div>
    </div>

    <div style="flex: 2;text-align: center;padding-top: 1rem">
      <img src="./assets/img/solution/pay4.png">
    </div>
  </div>

  <div class=" flex-div">
    <div style="flex: 2;text-align: center;padding-top: 1rem" >
      <img src="./assets/img/solution/pay5.png" >
    </div>
    <div style="flex: 1;" >
      <div style="flex: 1" class="pay-text">
        NFC
      </div>
    </div>

  </div>

  <div class=" flex-div">
    <div style="flex: 1;" class="pay-text">
      QR code
    </div>
    <div style="flex: 2;text-align: center">
      <img src="./assets/img/solution/pay6.png" >
    </div>

  </div>



</div>

<app-bottom></app-bottom>
