
<div>
  <img src="./assets/img/about/thybot.jpg" style="width: 100%">
</div>


<div  style="padding-top: 4rem">
  <div class="flex-div">
    <div style="flex: 1"></div>
    <div style="flex: 2">
      <h2 class="title-2">Company<br>
        Profile</h2>
    </div>

    <div style="flex: 9" class="about-div">
      <p class="thybot-desc"> Zhuhai Thybot Robotics Co Ltd, a high-tech innovation enterprise, devoted to provide IoT new retail solutions to our customers, was founded in November 2013 in China.<br>
        Thybot Robotics has a very strong R&D center for automated retail and IOT platform, continuouslybring our technologies to the market. In our automated manufacturing plant, we are dedicated inautomated retail store, integrative LCD touch screen and the intelligent commercial refrigerator.</p>
    </div>
    <div style="flex: 1"></div>
  </div>

  <div nz-row class="row-div" >
    <div nz-col [nzSpan]="5" [nzOffset]="2" class="about-div">
      <h2 class="title-2">Our Vision</h2>
      <p class="thybot-slogan">To bring a more convenient, high
        quality and a greater life to the public.<br>&nbsp;</p>
    </div>


    <div nz-col [nzSpan]="8" [nzOffset]="1" class="about-div">
      <h2 class="title-2">Our Mission</h2>
      <p class="thybot-slogan">We congregate the challenges and pressures what the customer concern, to provide a competitive IoT newretail solution and service, constantly create the
        maximum value for our customers.</p>
    </div>

    <div nz-col [nzSpan]="5" [nzOffset]="1" class="about-div">
      <h2 class="title-2">Thybotnese Culture</h2>
      <p class="thybot-slogan">Listening</p>
      <p class="thybot-slogan">Thinking</p>
      <p class="thybot-slogan">Take action</p>
      <p class="thybot-slogan">Deep learning</p>
    </div>
  </div>



  <div nz-row  class="row-div" >

    <div nz-col [nzSpan]="8" [nzOffset]="2" class="overflow-div fixed-height2">
      <img  src="./assets/img/about/factory1.jpg"  class="factory-img-big">
      <div class="blue-div">
        <div class="factory-name">
          <p>ISO9001,TOM</p>
        </div>
      </div>
    </div>

    <div nz-col [nzSpan]="12">
      <div nz-row  style="background-color: #eeeced;">
        <div nz-col [nzSpan]="8"  style="position: relative">
          <div class="triangle_right"></div>
          <div class="factory-name">
            <h2>Tester of Analog Transport</h2>
            <p>--></p>
          </div>
        </div>
        <div nz-col [nzSpan]="16"  class="overflow-div fixed-height1">
          <img src="./assets/img/about/factory2.jpg" class="factory-img">
        </div>
      </div>
      <div nz-row style="background-color: #eeeced;">
        <div nz-col [nzSpan]="16"  class="overflow-div fixed-height1">
          <img src="./assets/img/about/factory3.jpg"class="factory-img" >
        </div>
        <div nz-col [nzSpan]="8"  style="position: relative">
          <div class="triangle_left"></div>
          <div class="factory-name">
            <h2>Automated Manufacturing
              & Assembly Line</h2>
            <p><--</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div nz-row style="padding-bottom: 60px">
    <div nz-col [nzSpan]="20" [nzOffset]="2">
      <p style="font-size: 1.4rem;line-height: 3rem">We have a fully automated manufacturing and assembly line and an advanced total quality management system (TQM) which ensure the consistency and stability of product quality.</p>
    </div>
  </div>


  <div nz-row class="row-div">
    <div nz-col [nzSpan]="20" [nzOffset]="2" style="border: solid 1px #d6d7dc;position: relative">
      <h2 class="title-2" style="text-align: center;padding: 2rem 0 2rem 0">Thybot Machines Operating Locations</h2>
      <hr style="width: 40%;margin: auto;color: #e8e8e8">
      <button class="map-btn" style="top: 8rem" (click)="change_map(1)">+</button>
      <button class="map-btn" style="top: 14rem" (click)="change_map(0)">-</button>
      <div style="width: 100%;z-index: 899" id="map"></div>
    </div>
  </div>

  <div class="row-div">
    <div style="background: #e4e4e4;width: 84%;text-align: left;margin-left: 8%;padding: 1rem 2rem">
      <p class="message">Web: en.thybot.com</p>
      <p class="message">Email: sale1@thybot.com</p>
      <p class="message">Tel: 0086-756-6893285</p>
      <p class="message">Fax: 0086-756-6893281</p>
      <p class="message">Address: No. 33，Ke Ji San Lu, Tang Jia Bay, High-Tech Zone, ZhuHai, GuangDong, China</p>
    </div>
  </div>

</div>

<app-bottom></app-bottom>




