<div>
  <img src="./assets/img/product/banner2.jpg" style="margin: 0;padding: 0">
</div>

<div class="row-div" >
  <h2 class="title-2">
    <span class="line"></span>
    The Machine Features
    <span class="line"></span></h2>
  <img src="./assets/img/product/product1.jpg" >
</div>

<div class="row-div" style="background-color: #f8f8f8">
  <h2 class="title-2">
    <span class="line"></span>
    All Kinds Of Industry
    <span class="line"></span></h2>
  <img src="./assets/img/product/product2.jpg" >
</div>


<div class="row-div" >
  <h2 class="title-2">
    <span class="line"></span>
    2018 Hot Sale Model
    <span class="line"></span></h2>

  <h3 class="title-3">NO1: Thybot movable automated retail store-Multi functional integrated machine</h3>

  <div class="flex-div">
    <div style="flex: 1"></div>
    <div style="flex: 1;">
      <img src="./assets/img/product/product3.jpg" >
    </div>
    <div style="flex: 1"></div>
  </div>

    <div class="apply-div">
      <h2 class="title-2">Applicable products</h2>
      <div>
        <div class="label-div">
          <i class="icon font_family icon-vegetables"></i>
          <span class="label-name">vegetable</span>
        </div>
        <div class="label-div">
          <i class="icon font_family icon-fruit"></i>
          <span class="label-name">fruit</span>
        </div>
        <div class="label-div">
          <i class="icon font_family icon-meat"></i>
          <span class="label-name">meat</span>
        </div>
      </div>
      <div>
        <div class="label-div">
          <i class="icon font_family icon-drug"></i>
          <span class="label-name">medicine</span>
        </div>
        <div class="label-div">
          <i class="icon font_family icon-drink"></i>
          <span class="label-name">beverage</span>
        </div>
        <div class="label-div">
          <i class="icon font_family icon-snacks"></i>
          <span class="label-name">snack</span>
        </div>
      </div>
      <div>
        <div class="label-div">
          <i class="icon font_family icon-fresh"></i>
          <span class="label-name">fresh food</span>
        </div>
        <div class="label-div">
          <i class="icon font_family icon-daily_use"></i>
          <span class="label-name">daily supplies</span>
        </div>
      </div>
    </div>






<div class="row-div">
  <table style="width: 100%">
    <tr class="table-row" >
      <td nz-td class="table-title">Overall dimension</td>
      <td class="table-desc">1120mm*800mm*2000mm</td>
    </tr>
    <tr class="table-row"  >
      <td class="table-title">Auxiliary machine capacity</td>
      <td class="table-desc">6 layers, 11 shelves/ layers (adjustable)</td>
    </tr>
    <tr class="table-row"  >
      <td class="table-title">Overall weight</td>
      <td class="table-desc">400Kg</td>
    </tr>
    <tr class="table-row"  >
      <td class="table-title">Rated power</td>
      <td class="table-desc">800W (refrigeration): 260W (standby)</td>
    </tr>
    <tr class="table-row"  >
      <td class="table-title">Refrigerant</td>
      <td class="table-desc">R134a</td>
    </tr>
    <tr class="table-row"  >
      <td class="table-title">Refrigerating method</td>
      <td class="table-desc">Air cooling</td>
    </tr>
    <tr class="table-row"  >
      <td class="table-title">Storage temp</td>
      <td class="table-desc">2-20℃(adjustable)</td>
    </tr>
    <tr class="table-row"  >
      <td class="table-title">Network</td>
      <td class="table-desc">3G/4G, Gigabit Ethernet, Wifi (optional)</td>
    </tr>
    <tr class="table-row"  >
      <td class="table-title">Payment system</td>
      <td class="table-desc">WeChat, Alipay</td>
    </tr>
    <tr class="table-row"  >
      <td class="table-title">Display screen</td>
      <td class="table-desc">32 inch  LCD touch screen</td>
    </tr>
    <tr class="table-row"  >
      <td class="table-title">Goods delivery method</td>
      <td class="table-desc">Conveyor belt safety delivering
        + Intelligent lifting system</td>
    </tr>
    <tr class="table-row"  >
      <td class="table-title">Anomaly detection function</td>
      <td class="table-desc">Door sensors detection</td>
    </tr>
  </table>


</div>


<div class="row-div">
  <h3 class="title-3">NO2: Thybot movable automated retail store-Auto stock in-stock out Series </h3>

  <div class="flex-div">
    <div style="flex: 1"></div>
    <div style="flex: 1;">
      <img src="./assets/img/product/product4.jpg" >
    </div>
    <div style="flex: 1"></div>
  </div>

  <!--<div class="flex-div">-->

    <!--<div style="flex: 1" class="label-title-div">-->
      <!--<span class="label-title">Applicable products</span>-->
    <!--</div>-->
    <div class="apply-div"  >
      <h2 class="title-2">Applicable products</h2>
      <div>
        <div class="label-div">
          <i class="icon font_family icon-smallphone"></i>
          <span class="label-name">mobile phone</span>
        </div>
        <div class="label-div">
          <i class="icon font_family icon-ipad"></i>
          <span class="label-name">iPad</span>
        </div>
        <div class="label-div">
          <i class="icon font_family icon-jewelry"></i>
          <span class="label-name">jewelry</span>
        </div>
      </div>

      <div>
        <div class="label-div">
          <i class="icon font_family icon-electronics"></i>
          <span class="label-name">electronic product</span>
        </div>
        <div class="label-div">
          <i class="icon font_family icon-precious_gift"></i>
          <span class="label-name">Luxury gifts</span>
        </div>
      </div>
  </div>
  <!--</div>-->



  <table style="width: 100%">
    <tr class="table-row" >
      <td nz-td class="table-title">Overall dimension</td>
      <td class="table-desc">1200mm*900mm*2000mm</td>
    </tr>
    <tr class="table-row"  style="height: 96px" >
      <td class="table-title">Auxiliary machine capacity</td>
      <td class="table-desc">Total106, big size lanes 73,
        small size lanes 33 (customized lane size)</td>
    </tr>
    <tr class="table-row"  >
      <td class="table-title">Shelf structure</td>
      <td class="table-desc">Front and back shelves warehousing system</td>
    </tr>
    <tr class="table-row"  >
      <td class="table-title">The max size of goods</td>
      <td class="table-desc">200mm×200mm×80mm</td>
    </tr>
    <tr class="table-row"  >
      <td class="table-title">The min size of goods</td>
      <td class="table-desc">120mm×200mm×80mm</td>
    </tr>
    <tr class="table-row"  >
      <td class="table-title">Overall weight</td>
      <td class="table-desc">500Kg</td>
    </tr>
    <tr class="table-row"  >
      <td class="table-title">Rated power</td>
      <td class="table-desc">350W</td>
    </tr>
    <tr class="table-row"  >
      <td class="table-title">Network</td>
      <td class="table-desc">3G/4G, Gigabit Ethernet, Wifi (optional)</td>
    </tr>
    <tr class="table-row"  >
      <td class="table-title">Payment system</td>
      <td class="table-desc">Alipay, WeChat pay, Bank card (optional)</td>
    </tr>
    <tr class="table-row"  style="height: 96px">
      <td class="table-title">Display screen</td>
      <td class="table-desc">43 inches of infrared touch screen</td>
    </tr>
    <tr class="table-row"  >
      <td class="table-title">Goods delivery method</td>
      <td class="table-desc">Auto stock in-stock out</td>
    </tr>
    <tr class="table-row"  >
      <td class="table-title">Pick up port</td>
      <td class="table-desc">Automated door
        with the anti-pinch function</td>
    </tr>
    <tr class="table-row"  >
      <td class="table-title">The security doors</td>
      <td class="table-desc">Automated door</td>
    </tr>
    <tr class="table-row"  >
      <td class="table-title">Anomaly detection function</td>
      <td class="table-desc">Multiple sensors detection, GPS positioning</td>
    </tr>
    <tr class="table-row"  >
      <td class="table-title">Monitoring function</td>
      <td class="table-desc">Internal and external camera</td>
    </tr>
    <tr class="table-row"  >
      <td class="table-title">Additional options</td>
      <td class="table-desc">UPS system, QR code scan loading</td>
    </tr>
  </table>
</div>

<div class="row-div" >
  <h2 class="title-2">
    <span class="line"></span>
    Product Display
    <span class="line"></span></h2>
  <!--<h4 class="title-4">PRODUCT&nbsp;DISPLAY</h4>-->

  <img src="./assets/img/home/002.jpg">
</div>


<app-bottom></app-bottom>
