.download{
  background:url("../../assets/img/document/bg.jpg") 0 0  no-repeat;
  background-size:100%;
  padding-bottom: 50px;
}
.download>.title{
  margin-top:28px;
  font-family: MicrosoftYaHei;
  font-size: 18px;
  font-weight: bold;
  line-height: 4.22;
  text-align: center;
  color: #ffffff;
}
.download>.title img{
  vertical-align: middle;
}

.download .container{
  background-color: #ffffff;
}
.download .container>.title{
  background-color: #39a3f3;
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  font-weight: bold;
  padding: 12px 16px;
}
.download .container .td{
  line-height:20px;
  font-size: 16px;
  padding: 12px 28px;
}
.download .container .td:nth-child(odd){
  background-color: #ccc;
}
.download .container .td:hover{
  background-color: #39a3f3;
  color: #ffffff;
}



.tab-btn{
  background:none;
  color: white;

  line-height: 3rem;
  cursor: pointer;
  font-size: 1.6rem;
  border: 0;
  padding: 0 1rem 0 1rem;
  border-radius: 1.5rem;
}

.tab-btn:hover,.tab-btn:focus{
  color: white !important;
  background-color: #3fabf3;
  outline: none;
}


.tab-active{
  color: white !important;
  background-color: #3fabf3;
}


