<div class="swiper-container" >
  <div class="swiper-wrapper">
    <div class="swiper-slide" >
      <img src="./assets/img/home/001.jpg" >
    </div>
    <div class="swiper-slide">
      <img src="./assets/img/home/002.jpg">
    </div>
    <div class="swiper-slide">
      <img src="./assets/img/home/003.jpg" >
    </div>
  </div>
</div>


<div style="position: fixed;bottom: 1.6rem;z-index: 999;left: 0;right: 0;text-align: center;"  *ngIf="open">
  <div (click)="change_swiper(0)"  class="point-btn"  [class.point-active]="swiper.activeIndex == 0"></div>

  <div (click)="change_swiper(1)" class="point-btn"  [class.point-active]="swiper.activeIndex == 1"></div>

  <div (click)="change_swiper(2)" class="point-btn"  [class.point-active]="swiper.activeIndex == 2"></div>
</div>
