<div>
  <img src="./assets/img/case/banner3.png">
</div>


<div class="row-div" >
  <h2 class="title-2">
    <!--<span class="line"></span>-->
    M1 SERIES
    <!--<span class="line"></span>-->
  </h2>

  <div class=" flex-div" style="margin-top: 1rem">
    <div style="flex: 8;">
      <img src="./assets/img/case/M1-1.png" >
    </div>
    <div style="flex: 1"></div>
    <div style="flex: 8;">
      <img src="./assets/img/case/M1-2.png" >
    </div>
    <div style="flex: 1"></div>
    <div style="flex: 8;">
      <img src="./assets/img/case/M1-3.png" >
    </div>
  </div>

  <div class=" flex-div" style="margin: 1.6rem 0 1rem 0">
    <div style="flex: 8;">
      <img src="./assets/img/case/M1-4.png" >
    </div>
    <div style="flex: 1"></div>
    <div style="flex: 8;">
      <img src="./assets/img/case/M1-5.png" >
    </div>
    <div style="flex: 1"></div>
    <div style="flex: 8;">
      <img src="./assets/img/case/M1-6.png" >
    </div>
  </div>
</div>

<div class="row-div" style="background-color: #f8f8f8">
  <h2 class="title-2">
    <!--<span class="line"></span>-->
    GLACIER SERIES
    <!--<span class="line"></span>-->
  </h2>


  <div class=" flex-div" style="margin: 1.6rem 0 1rem 0">
    <div style="flex: 8;">
      <img src="./assets/img/case/BH-1.png" >
    </div>
    <div style="flex: 1"></div>
    <div style="flex: 8;">
      <img src="./assets/img/case/BH-2.png" >
    </div>
    <div style="flex: 1"></div>
    <div style="flex: 8;">
      <img src="./assets/img/case/BH-3.png" >
    </div>
  </div>
</div>



<div class="row-div" >
  <h2 class="title-2">
    <!--<span class="line"></span>-->
    Boao Airport
    <!--<span class="line"></span>-->
  </h2>

  <div class=" flex-div" style="margin: 1.6rem 0 1rem 0">
    <div style="flex: 8;">
      <img src="./assets/img/case/AP-1.png" >
    </div>
    <div style="flex: 1"></div>
    <div style="flex: 8;">
      <img src="./assets/img/case/AP-2.png" >
    </div>
    <div style="flex: 1"></div>
    <div style="flex: 8;">
      <img src="./assets/img/case/AP-3.png" >
    </div>
  </div>
</div>


<div class="row-div" style="background-color: #f8f8f8">
  <h2 class="title-2">
    <!--<span class="line"></span>-->
    THYBOT EXHIBITION
    <!--<span class="line"></span>-->
  </h2>


  <div class=" flex-div" style="margin-top: 1rem">
    <div style="flex: 8;">
      <img src="./assets/img/case/ZH-1.png" >
      <p class="zh-name">Automated Retail Vending Show </p>

    </div>
    <div style="flex: 1"></div>
    <div style="flex: 8;">
      <img src="./assets/img/case/ZH-2.png" >
      <p class="zh-name">Automated Retail Vending Show </p>
    </div>


  </div>

  <div class=" flex-div" style="margin-top: 1rem">
    <div style="flex: 8;">
      <img src="./assets/img/case/ZH-3.png" >
      <p class="zh-name">Guangzhou Exhibition</p>
    </div>
    <div style="flex: 1"></div>
    <div style="flex: 8;">
      <img src="./assets/img/case/ZH-4.png" >
      <p class="zh-name">Shanghai Exhibition</p>
    </div>
  </div>

  <div class=" flex-div" style="margin: 1.6rem 0 1rem 0">

    <div style="flex: 8;">
      <img src="./assets/img/case/ZH-5.png" >
      <p class="zh-name">Guangzhou Exhibition</p>
    </div>
    <div style="flex: 1"></div>
    <div style="flex: 8;">
      <img src="./assets/img/case/ZH-6.png" >
      <p class="zh-name">Beijing Exhibition</p>
    </div>
  </div>
</div>



<div class="row-div" >
  <h2 class="title-2">
    <!--<span class="line"></span>-->
    Thybot Automated Retail Showroom
    <!--<span class="line"></span>-->
  </h2>
  <!--<h4 class="title-4">EXHIBITION&nbsp;HALL</h4>-->

  <div class=" flex-div" style="margin-top: 1rem;background-color: #f8f8f8;text-align: center">
    <div style="flex: 1;">
      <h2 class="hall-title">Start with the word</h2>
      <!--<span class="hall-text">起步，就与世界同步</span>-->
    </div>
    <div style="flex: 1;">
      <img src="./assets/img/case/ZT-1.png" >
    </div>
  </div>

  <div class=" flex-div" style="margin-bottom: 1rem;background-color: #3fabf3">

    <div style="flex: 1;">
      <img src="./assets/img/case/ZT-2.png" >
    </div>
    <div style="flex: 1;">
      <h2 class="hall-title-w">Lead industry</h2>
      <!--<p class="hall-p">引领行业</p>-->
      <!--<p class="hall-p">享誉全球的领先科技和过硬品质</p>-->
      <!--<span class="hall-text-w">铸就行业领先</span>-->
    </div>
  </div>
</div>

<app-bottom></app-bottom>
