<div>
  <img src="./assets/img/case/banner3.jpg">
</div>


<div class="row-div" >
  <h2 class="title-2">
    <!--<span class="line"></span>-->
    M1 SERIES
    <!--<span class="line"></span>-->
  </h2>

  <div class=" flex-div" style="margin-top: 1rem">
    <div style="flex: 8;">
      <img src="./assets/img/case/M1-1.jpg" >
    </div>
    <div style="flex: 1"></div>
    <div style="flex: 8;">
      <img src="./assets/img/case/M1-2.jpg" >
    </div>
    <div style="flex: 1"></div>
    <div style="flex: 8;">
      <img src="./assets/img/case/M1-3.jpg" >
    </div>
  </div>

  <div class=" flex-div" style="margin: 1.6rem 0 1rem 0">
    <div style="flex: 8;">
      <img src="./assets/img/case/M1-4.jpg" >
    </div>
    <div style="flex: 1"></div>
    <div style="flex: 8;">
      <img src="./assets/img/case/M1-5.jpg" >
    </div>
    <div style="flex: 1"></div>
    <div style="flex: 8;">
      <img src="./assets/img/case/M1-6.jpg" >
    </div>
  </div>
</div>

<div class="row-div" style="background-color: #f8f8f8">
  <h2 class="title-2">
    <!--<span class="line"></span>-->
    GLACIER SERIES
    <!--<span class="line"></span>-->
  </h2>


  <div class=" flex-div" style="margin: 1.6rem 0 1rem 0">
    <div style="flex: 8;">
      <img src="./assets/img/case/BH-1.jpg" >
    </div>
    <div style="flex: 1"></div>
    <div style="flex: 8;">
      <img src="./assets/img/case/BH-2.jpg" >
    </div>
    <div style="flex: 1"></div>
    <div style="flex: 8;">
      <img src="./assets/img/case/BH-3.jpg" >
    </div>
  </div>
</div>



<div class="row-div" >
  <h2 class="title-2">
    <!--<span class="line"></span>-->
    Boao Airport
    <!--<span class="line"></span>-->
  </h2>

  <div class=" flex-div" style="margin: 1.6rem 0 1rem 0">
    <div style="flex: 8;">
      <img src="./assets/img/case/AP-1.jpg" >
    </div>
    <div style="flex: 1"></div>
    <div style="flex: 8;">
      <img src="./assets/img/case/AP-2.jpg" >
    </div>
    <div style="flex: 1"></div>
    <div style="flex: 8;">
      <img src="./assets/img/case/AP-3.jpg" >
    </div>
  </div>
</div>


<div class="row-div" style="background-color: #f8f8f8">
  <h2 class="title-2">
    <!--<span class="line"></span>-->
    THYBOT EXHIBITION
    <!--<span class="line"></span>-->
  </h2>


  <div class=" flex-div" style="margin-top: 1rem">
    <div style="flex: 8;">
      <img src="./assets/img/case/ZH-1.jpg" >
      <p class="zh-name">Automated Retail Vending Show </p>

    </div>
    <div style="flex: 1"></div>
    <div style="flex: 8;">
      <img src="./assets/img/case/ZH-2.jpg" >
      <p class="zh-name">Automated Retail Vending Show </p>
    </div>


  </div>

  <div class=" flex-div" style="margin-top: 1rem">
    <div style="flex: 8;">
      <img src="./assets/img/case/ZH-3.jpg" >
      <p class="zh-name">Guangzhou Exhibition</p>
    </div>
    <div style="flex: 1"></div>
    <div style="flex: 8;">
      <img src="./assets/img/case/ZH-4.jpg" >
      <p class="zh-name">Shanghai Exhibition</p>
    </div>
  </div>

  <div class=" flex-div" style="margin: 1.6rem 0 1rem 0">

    <div style="flex: 8;">
      <img src="./assets/img/case/ZH-5.jpg" >
      <p class="zh-name">Guangzhou Exhibition</p>
    </div>
    <div style="flex: 1"></div>
    <div style="flex: 8;">
      <img src="./assets/img/case/ZH-6.png" >
      <p class="zh-name">Beijing Exhibition</p>
    </div>
  </div>
</div>



<div class="row-div" >
  <h2 class="title-2">
    <!--<span class="line"></span>-->
    Thybot Automated Retail Showroom
    <!--<span class="line"></span>-->
  </h2>


  <div class=" flex-div" style="margin-top: 1rem;background-color: #f8f8f8;text-align: center">
    <div style="flex: 1;">
      <h2 class="hall-title">Start with the word</h2>

    </div>
    <div style="flex: 1;">
      <img src="./assets/img/case/ZT-1.jpg" >
    </div>
  </div>

  <div class=" flex-div" style="margin-bottom: 1rem;background-color: #3fabf3">

    <div style="flex: 1;">
      <img src="./assets/img/case/ZT-2.jpg" >
    </div>
    <div style="flex: 1;">
      <h2 class="hall-title-w">Lead industry</h2>
    </div>
  </div>
</div>

<app-bottom></app-bottom>
