<div class="download">
  <table></table>
  <!--<div class="title">-->
    <!--<div nz-row>-->
      <!--<div nz-col [nzSpan]="8" style="text-align: left;padding-left: 40px">-->
        <!--&lt;!&ndash;<img src="./assets/img/logo.png" alt="thybot">&ndash;&gt;-->
      <!--</div>-->
      <!--<div nz-col [nzSpan]="8">-->
        <!--<div nz-row >-->

          <!--<div nz-col [nzSpan]="6" [nzOffset]="6" class="content">-->
            <!--<button class="tab-btn" [class.tab-active]="tab == 1" (click)="change_tab(1)">询&nbsp;&nbsp;盘</button>-->
          <!--</div>-->
          <!--<div nz-col [nzSpan]="6" class="content">-->
            <!--<button class="tab-btn" [class.tab-active]="tab == 2" (click)="change_tab(2)">文档下载</button>-->
          <!--</div>-->

        <!--</div>-->
      <!--</div>-->
      <!--<div nz-col [nzSpan]="8">-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

  <div nz-row style="margin-top: 8rem">

    <div nz-col [nzXl] = "{span: 6, offset: 5}"  [nzLg] = "{span: 7, offset: 4}" [nzMd] = "{span: 8, offset: 3}" [nzSm] = "{span: 9, offset: 2}" [nzXs] = "{span: 20, offset: 2}" class="container">
      <div class="title">
        Hot today（4th, March 00:00~15:27）
      </div>
      <div class="td" *ngFor="let d of day">
        <a [href]="d.fileurl"><p>{{d.filename}}</p></a>
      </div>
    </div>

    <div nz-col [nzXl] = "{span: 6, offset: 2}"  [nzLg] = "{span: 7, offset: 2}" [nzMd] = "{span: 8, offset: 2}" [nzSm] = "{span: 9, offset: 2}" [nzXs] = "{span: 20, offset: 2}" class="container">
      <div class="title">
        Hot this week（4th, March~ 10th , March）
      </div>
      <div class="td" *ngFor="let w of week">
        <a [href]="w.fileurl"><p>{{w.filename}}</p></a>
      </div>
    </div>
  </div>
</div>
