<div>
  <img src="./assets/img/about/thybot.jpg">
</div>

<div class="row-div flex-div">
  <div style="flex: 2">
    <h2 class="title-2">利保简介</h2>
    <h4 class="title-4">THYBOT</h4>
  </div>
  <div style="flex: 5;background-color: #f8f8f8;padding: 0.6rem">
    <p class="about-text">&nbsp;珠海市利保机器人有限公司成立于2013年11月，是广东省高新技术企业。 公司致力于提供新零售物联网的解决方案。</p>
    <p class="about-text">&nbsp;公司拥有零售物联网平台研发中心、智能售货机和智能购物商用冷柜、一体液晶触摸屏制造工厂。</p>
  </div>
</div>



<div class="flex-div row-div" style="padding-top: 0">
  <div style="flex: 10;background-color: #f8f8f8;padding: 1rem 0.6rem 1rem 0.6rem">
    <h2 class="title-2">我们的目标</h2>
    <h4 class="title-4">THYBOT&nbsp;TARGET</h4>
    <p class="about-text">&nbsp;</p>
    <p class="about-text">让人们的生活更加便利、优质、美好。</p>
    <p class="about-text">&nbsp;</p>
  </div>
  <div style="flex: 1"></div>
  <div style="flex: 10;background-color: #f8f8f8;padding: 1rem 0.6rem 1rem 0.6rem">
    <h2 class="title-2">我们的使命</h2>
    <h4 class="title-4">THYBOTNESE&nbsp;MISSION</h4>
       <p class="about-text">聚集客户关注的挑战和压力，提供有竞争力的零售物联网的解决方案和服务，持续为客户创造最大的价值。</p>
  </div>
</div>

<div class="row-div" style="padding-top: 0">
  <div class="flex-div" style="background-color: #f8f8f8;padding: 1rem 0.4rem 1rem 0">
    <div style="flex: 1">
      <h2 class="title-2">利保文化</h2>
      <h4 class="title-4">THYBOTNESE&nbsp;CULTURE</h4>
    </div>
    <div style="flex: 1">
      <p class="about-text">聆听&nbsp;思考&nbsp;行动&nbsp;深度学习</p>
    </div>
  </div>

</div>


<div class="row-div" style="text-align: center">
  <h2 class="title-2">
    <span class="line"></span>
    工厂概况
    <span class="line"></span></h2>
  <h4 class="title-4">COMPANY&nbsp;PROFILE</h4>
  <p class="about-text">&nbsp;&nbsp;公司生产目前已经全面执行全面质量管理体系（TQM），同时引进先进的测试设备，模拟设备在恶劣工况条件的使用情况，以及在恶劣运输条件下，产品包装的合理性以及稳定性。 严格执行国际先进的全面质量管理体系（TQM）。</p>
  <div class="flex-div" style="padding-top: 1rem">
    <div style="flex: 8;">
      <img src="./assets/img/about/factory1.png" >
      <p class="factory-name">ISO9001,TOM恒温测试室</p>
    </div>
    <div style="flex: 1"></div>
    <div style="flex: 8;">
      <img src="./assets/img/about/factory2.png" >
      <p class="factory-name">模拟运输测试仪</p>
      <p class="factory-name">&nbsp;</p>
    </div>
    <div style="flex: 1"></div>
    <div style="flex: 8;">
      <img src="./assets/img/about/factory3.png" >
      <p class="factory-name">智能制造生产线</p>
      <p class="factory-name">&nbsp;</p>
    </div>
  </div>

</div>

<div class="row-div">
  <div style="border: solid 1px #f0f0f0;text-align: center;padding: 1rem">
    <h2 class="title-2">利保机器人售货机分布地图</h2>
    <hr style="width: 70%;margin: 1rem 15% 1rem 15%">
    <div style="width: 100%;height: 70vw" id="map"></div>
  </div>
</div>



<app-bottom></app-bottom>
