<div class="row-div" style="background-color: black;">
  <div class="flex-div" style="width: 100%">
    <div style="flex: 1;text-align: right">
    </div>
    <div style="flex: 3;text-align: right">
      <img src="./assets/img/er_wei_ma.jpg" >
    </div>
    <div style="flex: 10;text-align: left;padding-left: 1rem">
      <p class="text">全国热线：400-900-7136</p>
      <p class="text">电话：86-0756-6893285</p>
      <p class="text">地址：珠海市高新区科技三路33号</p>
    </div>
  </div>
</div>
  <div style="background-color: black;text-align: center;padding: 0 1rem 1rem 1rem">
    <p class="bottom-text">Copyright DataGrand Tech Inc. All Rights Reserved.  粤ICP备14038554号</p>
  </div>
