<div class="document">
  <table></table>
  <div class="title">
    <div nz-row>
      <div nz-col [nzSpan]="8" style="text-align: left;padding-left: 40px">
        <!--<img src="./assets/img/logo.png" alt="thybot">-->
      </div>
      <div nz-col [nzSpan]="8">
        <div nz-row >
          <div nz-col [nzSpan]="6">
          </div>
          <div nz-col [nzSpan]="6" class="content">
            官网首页
          </div>
          <div nz-col [nzSpan]="6" class="content">
            文档下载
          </div>
          <div nz-col [nzSpan]="6">
          </div>
        </div>
      </div>
      <div nz-col [nzSpan]="8">
      </div>
    </div>
  </div>

  <div nz-row>
    <div nz-col [nzSpan]="2"></div>
    <div nz-col [nzSpan]="8">
      <div nz-row>
        <div nz-col [nzSpan]="4"></div>
        <div nz-col [nzSpan]="20">
          <div class="about">
            您可以通过热线 <br>
            <span>400-900-7136 </span>
            与我们联系
          </div>
          <div class="ercode">
            或者关注我们的公众号
            <br>
            <img src="./assets/img/er_wei_ma.jpg">
          </div>
        </div>
      </div>

    </div>
    <!--<div nz-col [nzSpan]="2"></div>-->
    <div nz-col [nzSpan]="12">
      <div class="from" nz-row style="padding-top:24px">
        <div nz-col [nzSpan]="4" class="title">
          产品名称：
        </div>
        <div nz-col [nzSpan]="7">
          <nz-input [nzSize]="'large'"></nz-input>
        </div>
        <div nz-col [nzSpan]="4" class="title">
          数&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;量：
        </div>
        <div nz-col [nzSpan]="7">
          <nz-input [nzSize]="'large'"></nz-input>
        </div>
        <div nz-col [nzSpan]="4" class="title">
          姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：
        </div>
        <div nz-col [nzSpan]="7">
          <nz-input [nzSize]="'large'"></nz-input>
        </div>
        <div nz-col [nzSpan]="4" class="title">
          公司名称：
        </div>
        <div nz-col [nzSpan]="7">
          <nz-input [nzSize]="'large'"></nz-input>
        </div>
        <div nz-col [nzSpan]="4" class="title">
          邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱：
        </div>
        <div nz-col [nzSpan]="7">
          <nz-input [nzSize]="'large'"></nz-input>
        </div>
        <div nz-col [nzSpan]="4" class="title">
          电&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;话：
        </div>
        <div nz-col [nzSpan]="7">
          <nz-input [nzSize]="'large'"></nz-input>
        </div>
        <div nz-col [nzSpan]="4" class="title">
          城&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;市：
        </div>
        <div nz-col [nzSpan]="7">
          <nz-input [nzSize]="'large'"></nz-input>
        </div>
        <div nz-col [nzSpan]="4" class="title">
          国&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;家：
        </div>
        <div nz-col [nzSpan]="7">
          <nz-input [nzSize]="'large'"></nz-input>
        </div>
        <div nz-col [nzSpan]="4" class="title">
          备&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注：
        </div>
        <div nz-col [nzSpan]="18" style="padding-top: 12px;">
          <nz-input  [nzType]="'textarea'" [nzRows]="'12'" [nzPlaceHolder]="''"></nz-input>
        </div>

        <div nz-col [nzSpan]="24" style="text-align: center;margin-top: 29px;">
          <button class="btn">提交</button>
        </div>

      </div>



    </div>
  </div>
</div>
