<div>
  <img src="./assets/img/product/banner2.jpg" style="margin: 0;padding: 0">
</div>

<div class="row-div" >
  <h2 class="title-2">
    <span class="line"></span>
    机器特点
    <span class="line"></span></h2>
  <h4 class="title-4">MACHINE&nbsp;FEATURES</h4>
  <img src="./assets/img/product/product1.png" >
</div>

<div class="row-div" style="background-color: #f8f8f8">
  <h2 class="title-2">
    <span class="line"></span>
    行业分类
    <span class="line"></span></h2>
  <h4 class="title-4">INDUSTRY&nbsp;CATEGORY</h4>
  <img src="./assets/img/product/product2.jpg" >
</div>


<div class="row-div" >
  <h2 class="title-2">
    <span class="line"></span>
    主推产品
    <span class="line"></span></h2>
  <h4 class="title-4">FEATURED&nbsp;PRODUCTS</h4>

  <h3 class="title-3">NO1:多功能综合机</h3>
  <div class="flex-div" >
    <div style="flex: 3;">
      <img src="./assets/img/product/product3.jpg" >
    </div>
    <div style="flex: 1"></div>
    <div style="flex: 1" class="label-title-div">
      <span class="label-title">适用行业</span>
    </div>
    <div style="flex: 7;text-align: center;padding: 0.6rem 0 0.6rem 0;background-color: #f8f8f8" >
      <div>
        <div class="label-div">
          <i class="icon font_family icon-vegetables"></i>
          <span class="label-name">蔬菜</span>
        </div>
        <div class="label-div">
          <i class="icon font_family icon-fruit"></i>
          <span class="label-name">水果</span>
        </div>
        <div class="label-div">
          <i class="icon font_family icon-meat"></i>
          <span class="label-name">肉类</span>
        </div>
      </div>
      <div>
        <div class="label-div">
          <i class="icon font_family icon-drug"></i>
          <span class="label-name">药品</span>
        </div>
        <div class="label-div">
          <i class="icon font_family icon-drink"></i>
          <span class="label-name">饮料</span>
        </div>
        <div class="label-div">
          <i class="icon font_family icon-snacks"></i>
          <span class="label-name">零食</span>
        </div>
      </div>
      <div>
        <div class="label-div">
          <i class="icon font_family icon-fresh"></i>
          <span class="label-name">生鲜</span>
        </div>
        <div class="label-div">
          <i class="icon font_family icon-daily_use"></i>
          <span class="label-name">生活用品</span>
        </div>
      </div>

    </div>
  </div>
</div>




<div class="row-div">
  <table style="width: 100%">
    <tr class="table-row" >
      <td nz-td class="table-title">整机尺寸</td>
      <td class="table-desc">1120mm*800mm*2000mm</td>
    </tr>
    <tr class="table-row"  >
      <td class="table-title">整机容量</td>
      <td class="table-desc">6层、11道/层（可调）</td>
    </tr>
    <tr class="table-row"  >
      <td class="table-title">整机重量</td>
      <td class="table-desc">400Kg</td>
    </tr>
    <tr class="table-row"  >
      <td class="table-title">额定功率</td>
      <td class="table-desc">800W(制冷)：260W（待机）</td>
    </tr>
    <tr class="table-row"  >
      <td class="table-title">制冷剂</td>
      <td class="table-desc">R134a</td>
    </tr>
    <tr class="table-row"  >
      <td class="table-title">制冷方式</td>
      <td class="table-desc">风冷</td>
    </tr>
    <tr class="table-row"  >
      <td class="table-title">存储温度</td>
      <td class="table-desc">2-20℃（可调）</td>
    </tr>
    <tr class="table-row"  >
      <td class="table-title">网络</td>
      <td class="table-desc">3G/4G，千兆以太网，WIFI(可选)</td>
    </tr>
    <tr class="table-row"  >
      <td class="table-title">支付系统</td>
      <td class="table-desc">微信、支付宝</td>
    </tr>
    <tr class="table-row"  >
      <td class="table-title">界面显示屏</td>
      <td class="table-desc">32寸多点电容触摸显示屏</td>
    </tr>
    <tr class="table-row"  >
      <td class="table-title">出货方式</td>
      <td class="table-desc">皮带传递加上下运动机构</td>
    </tr>
    <tr class="table-row"  >
      <td class="table-title">异常检测功能</td>
      <td class="table-desc">开关门传感器</td>
    </tr>
  </table>


</div>


<div class="row-div">
  <h3 class="title-3">NO2:万能机</h3>

  <div class="flex-div">
    <div style="flex: 3;">
      <img src="./assets/img/product/product4.jpg" >
    </div>
    <div style="flex: 1"></div>
    <div style="flex: 1" class="label-title-div">
      <span class="label-title">适用行业</span>
    </div>
    <div style="flex: 7;text-align: center;padding: 0.6rem 0 0.6rem 0;background-color: #f8f8f8" >
      <div>
        <div class="label-div">
          <i class="icon font_family icon-smallphone"></i>
          <span class="label-name">手机</span>
        </div>
        <div class="label-div">
          <i class="icon font_family icon-ipad"></i>
          <span class="label-name">iPad</span>
        </div>
        <div class="label-div">
          <i class="icon font_family icon-jewelry"></i>
          <span class="label-name">首饰</span>
        </div>
      </div>

      <div>
        <div class="label-div">
          <i class="icon font_family icon-electronics"></i>
          <span class="label-name">电子产品</span>
        </div>
        <div class="label-div">
          <i class="icon font_family icon-precious_gift"></i>
          <span class="label-name">贵重礼品</span>
        </div>
      </div>
  </div>
  </div>



  <table style="width: 100%">
    <tr class="table-row" >
      <td nz-td class="table-title">整机尺寸</td>
      <td class="table-desc">1200mm*900mm*2000mm</td>
    </tr>
    <tr class="table-row"  style="height: 96px" >
      <td class="table-title">整机容量</td>
      <td class="table-desc">106个，大货位73个，小货位33个<br>(可根据实际定制)</td>
    </tr>
    <tr class="table-row"  >
      <td class="table-title">货架结构</td>
      <td class="table-desc">分前后货架，前货架可打开</td>
    </tr>
    <tr class="table-row"  >
      <td class="table-title">最大货物尺寸</td>
      <td class="table-desc">200mm×200mm×80mm</td>
    </tr>
    <tr class="table-row"  >
      <td class="table-title">最小货物尺寸</td>
      <td class="table-desc">120mm×200mm×80mm</td>
    </tr>
    <tr class="table-row"  >
      <td class="table-title">整机重量</td>
      <td class="table-desc">500Kg</td>
    </tr>
    <tr class="table-row"  >
      <td class="table-title">额定功率</td>
      <td class="table-desc">350W</td>
    </tr>
    <tr class="table-row"  >
      <td class="table-title">网络</td>
      <td class="table-desc">3G/4G、千兆以太网、Wifi</td>
    </tr>
    <tr class="table-row"  >
      <td class="table-title">支付系统</td>
      <td class="table-desc">支付宝、微信(银联、信用卡为选配)</td>
    </tr>
    <tr class="table-row"  style="height: 96px">
      <td class="table-title">异常检测功能</td>
      <td class="table-desc">商品有无、商品超高、震动传感器、<br>角度传感器、关门传感器、GPS/北斗<br>双卫星定位、异常指示灯</td>
    </tr>
    <tr class="table-row"  >
      <td class="table-title">界面显示屏</td>
      <td class="table-desc">43寸红外液晶触摸屏</td>
    </tr>
    <tr class="table-row"  >
      <td class="table-title">出货方式</td>
      <td class="table-desc">机械手抓取+上下运动机构</td>
    </tr>
    <tr class="table-row"  >
      <td class="table-title">前取物门</td>
      <td class="table-desc">电动开关门，具防夹手功能</td>
    </tr>
    <tr class="table-row"  >
      <td class="table-title">后防盗门</td>
      <td class="table-desc">电动开关门</td>
    </tr>
    <tr class="table-row"  >
      <td class="table-title">监控功能</td>
      <td class="table-desc">内/外摄像头</td>
    </tr>
    <tr class="table-row"  >
      <td class="table-title">附加选配</td>
      <td class="table-desc">UPS系统、POS机、二维码扫描仪</td>
    </tr>
  </table>
</div>

<div class="row-div" >
  <h2 class="title-2">
    <span class="line"></span>
    产品展示
    <span class="line"></span></h2>
  <h4 class="title-4">PRODUCT&nbsp;DISPLAY</h4>

  <img src="./assets/img/home/002.jpg">
</div>


<app-bottom></app-bottom>
