img{
  width: 100%;
  vertical-align: bottom;
  margin:1rem 0 1rem 0;
}

.row-div{
  padding: 2rem 4% 1rem 4%;
  text-align: center;
}

.flex-div{
display: flex;
justify-content: space-between;
align-items:  center;
}


.line{
  border-top:1px solid  #c9c9c9;
  width: 12%;
  display: inline-block;
  margin: 0 0rem 0.6rem 0rem;
}


.title-2{
  font-size: 1.6rem;
  color: #3fabf3;
  font-weight: bold;
}


.title-4{
  font-size: 0.8rem;
  font-family: Helvetica, monospace;
  color: #919191;

  /*margin-bottom: 2rem;*/

}

.title-3{
  font-size: 1.2rem;
  margin: 1rem 0 1rem 0;

}




.table-row{
  height: 48px;
}

.table-title{
  text-align: left;
  padding-left: 0.5rem;

  width: 32%;
  color: #242424;
  font-weight: bold;
  font-size: 1.2rem;
  border: solid 1px #d6d7dc;
}

.table-desc{
  text-align: center;
  width: 68%;
  color: #777777;
  font-size: 1rem;
  border: solid 1px #d6d7dc;
}





.label-title{
  color: white;
  font-size: 1.4rem;
  writing-mode: vertical-rl;
}



.label-title-div{

  display: inline-block;
  background-color: #3fabf3;
  text-align:center;
  padding: 0.6rem 0 0.6rem 0;
  margin-right: -0.6rem;
  z-index:998;
}


.label-div{
  border: solid 1px #3fabf3;
  padding: 0.1rem 0.2rem 0.1rem 0.2rem ;
  border-radius: 4px;
  margin-top: 1rem;
  display: inline-block;

}


.label-name{
  font-size: 1rem;
  color: #3fabf3;

}

.icon{
  color: #3fabf3;
  font-size: 1.6rem;
}
