.line1-ico{
  font-size: 6em;
  opacity: 0.3;
  line-height:130px;

}

.line1-text-up{
  padding-top: 10px;
  line-height: 56px;
  font-size: 2em;
  padding-right: 10px;

}

.line1-text-down{
  font-size: 4em;
  line-height:56px;
  font-family: 'Bebas';
  padding-right: 10px;
}


.warning-line{
  height: 100px;
  padding: 1em 1em 0 1em;
}

.warning-text{
  font-size: 2.2em;
  text-align: center;
}

.warning-time{
  font-size: 1.5em;
  color: #999999;
  float: right;
}



.chart-div{
  width: 100%;
  height: 100%;

}
