

<app-stars></app-stars>
<div class="row-div" >
  <h2 class="title-2">
    <span class="line"></span>
    购买渠道
    <span class="line"></span></h2>
  <h4 class="title-4">PURCHASING&nbsp;CHANNEL</h4>


  <div class=" flex-div">
    <div style="flex: 1;" class="pay-text">
      APP购买
    </div>
    <div style="flex: 2;text-align: center;padding-top: 1rem" >
      <img src="./assets/img/solution/pay1.jpg" >
    </div>
  </div>

  <div class=" flex-div">
    <div style="flex: 2;text-align: center">
      <img src="./assets/img/solution/pay2.jpg" >
    </div>
    <div style="flex: 1;" class="pay-text">
      直接在机器购买
    </div>
  </div>


  <div class=" flex-div">
    <div style="flex: 1" class="pay-text">
      其他平台购买
    </div>
    <div style="flex: 2;text-align: center;padding-top: 1rem">
      <img src="./assets/img/solution/pay3.jpg">
    </div>
  </div>

</div>

<div class="row-div" style="background-color: #f8f8f8">
  <h2 class="title-2">
    <span class="line"></span>
    支付方式
    <span class="line"></span></h2>
  <h4 class="title-4">MODE OF PAYMENT</h4>

  <div class=" flex-div">
    <div style="flex: 1;" >
      <div style="flex: 1" class="pay-text">
        微信支付
      </div>
    </div>
    <div style="flex: 2;text-align: center;padding-top: 1rem" >
      <img src="./assets/img/solution/pay4.jpg" >
    </div>
  </div>

  <div class=" flex-div">
    <div style="flex: 2;text-align: center">
      <img src="./assets/img/solution/pay5.jpg" >
    </div>
    <div style="flex: 1;" class="pay-text">
      支付宝支付
    </div>
  </div>


  <div class=" flex-div">
    <div style="flex: 1">
      <div class="pay-text" style="margin-bottom: 1.6rem">现金支付</div>
      <div class="pay-text">硬币支付</div>
      <div class="pay-text" style="margin-top: 1.6rem">刷卡支付</div>
    </div>

    <div style="flex: 2;text-align: center;padding-top: 1rem">
      <img src="./assets/img/solution/pay6.jpg">
    </div>
  </div>
</div>

<app-bottom></app-bottom>
