<div>
  <img src="./assets/img/solution.png" >
</div>
<div nz-row class="child-div">
  <div nz-col [nzSpan]="5" [nzOffset]="2" style="height: 100%;border-right: solid 1px #cccccc">
    <button [class.child-active]="tab_num == 1" class="child-btn" (click)="change_tab(1)" >核心技术</button>
  </div>
  <div nz-col [nzSpan]="5" style="height: 100%;border-right: solid 1px #cccccc">
    <button [class.child-active]="tab_num == 2" class="child-btn" (click)="change_tab(2)">系统优势</button>
  </div>
  <div nz-col [nzSpan]="5" style="height: 100%;border-right: solid 1px #cccccc">
    <button [class.child-active]="tab_num == 3" class="child-btn" (click)="change_tab(3)">智能新零售解决方案</button>
  </div>
  <div nz-col [nzSpan]="5" style="height: 100%">
    <button [class.child-active]="tab_num == 4" class="child-btn" (click)="change_tab(4)">支付与购买渠道</button>
  </div>
</div>

<div *ngIf="tab_num == 1">
  <div nz-row style="padding-top: 120px;" id="no_1">
    <div nz-col [nzSpan]="10" [nzOffset]="2" class="tech-img-div">
      <img  [src]="is_move[0]?move[0]:stop[0]" (mouseover)="change_move(0,true)" (mouseout)="change_move(0,false)">
    </div>
    <div nz-col [nzSpan]="10" [nzOffset]="2" class="animate-div" [class.down-animate]="top >= height[0]" >
      <h1 class="tech-num">01</h1>
      <h2 class="tech-name">货道灵活调整</h2>
      <p class="tech-desc">履带安全出货+智能升降系统</p>
    </div>
  </div>

  <div nz-row style="background-color: #f8f8f8" id="no_2">
    <div nz-col [nzSpan]="8" [nzOffset]="4" class="animate-div" [class.down-animate-2]="top >= height[1]" >
      <h1 class="tech-num">02</h1>
      <h2 class="tech-name">无动力货仓</h2>
      <p class="tech-desc">多轴机械臂精准定位取货</p>
    </div>
    <div nz-col [nzSpan]="12"  class="tech-img-div">
      <img  [src]="is_move[1]?move[1]:stop[1]" (mouseover)="change_move(1,true)" (mouseout)="change_move(1,false)">
    </div>
  </div>

  <div nz-row style="padding: 120px 0 120px 0;" id="no_3">
    <div nz-col [nzSpan]="10" [nzOffset]="2" class="tech-img-div">
      <img  [src]="is_move[2]?move[2]:stop[2]" (mouseover)="change_move(2,true)" (mouseout)="change_move(2,false)">
    </div>
    <div nz-col [nzSpan]="10" [nzOffset]="2" class="animate-div" [class.down-animate]="top >= height[2]" >
      <h1 class="tech-num">03</h1>
      <h2 class="tech-name">智能货仓</h2>
      <p class="tech-desc">自动上货出货</p>
    </div>
  </div>
</div>






<div *ngIf="tab_num == 2">
  <div nz-row  style="padding: 8rem 0 4rem 0">
    <div nz-col [nzSpan]="4" [nzOffset]="2">
      <div class="title-div" style="margin-top: 40%">Linux开源系统</div>
    </div>
    <div nz-col [nzSpan]="6" [nzOffset]="2">
      <img src="./assets/img/system_1.png" >
    </div>
    <div nz-col [nzSpan]="8" [nzOffset]="2">
      <p class="sex"><i class="icon font_family icon-compatibility icon-sex"></i>&nbsp;兼容性</p>
      <p class="sex"><i class="icon font_family icon-stability icon-sex"></i>&nbsp;稳定性</p>
      <p class="sex"><i class="icon font_family icon-security icon-sex"></i>&nbsp;安全性</p>
    </div>
  </div>

  <div nz-row  style="padding: 8rem 0 8rem 0;background-color: #f8f8f8">
    <div nz-col [nzSpan]="4" [nzOffset]="2">
      <div class="title-div" style="margin-top: 30%">一站式自主研发系统</div>
    </div>
    <div nz-col [nzSpan]="6" [nzOffset]="2">
      <img src="./assets/img/system_2.png"  >
    </div>
    <div nz-col [nzSpan]="6" [nzOffset]="2">
      <p class="system-text">智能零售终端管控系统</p>
      <p class="system-text">智能零售交易平台</p>
      <p class="system-text">新媒体广告交互系统</p>
      <p class="system-text">物联网大数据分析平台</p>
      <p class="system-text">仓储业务系统</p>
    </div>
  </div>

  <div nz-row class="row-div" >
    <div nz-col [nzSpan]="10" [nzOffset]="2" >
      <div class="title-div" style="margin: 30px 0 100px 0;width: 40%;">可视化后台管理系统</div>
      <img src="./assets/img/system_3.png" >
    </div>
    <div nz-col [nzSpan]="4" [nzOffset]="1" style="margin-top: 160px">
      <p class="system-text"><i class="icon font_family icon-platform icon-system"></i>全方位的管理平台</p>
      <p class="system-text"><i class="icon font_family icon-transactiondetail icon-system"></i>交易明细实时查询</p>
      <p class="system-text"><i class="icon font_family icon-close_aisle icon-system"></i>后台关闭指定货道</p>
      <p class="system-text"><i class="icon font_family icon-diagnose icon-system"></i>系统故障自我诊断</p>
      <p class="system-text"><i class="icon font_family icon-restart icon-system"></i>远程机器自动重启</p>
      <p class="system-text"><i class="icon font_family icon-maintenance_report icon-system"></i>维修报告记录</p>
    </div>
    <div nz-col [nzSpan]="6" [nzOffset]="1" style="margin-top: 160px">
      <p class="system-text"><i class="icon font_family icon-compatibility icon-system"></i>综合数据显示</p>
      <p class="system-text"><i class="icon font_family icon-compatibility icon-system"></i>远程库存监控</p>
      <p class="system-text"><i class="icon font_family icon-compatibility icon-system"></i>远程广告推送</p>
      <p class="system-text"><i class="icon font_family icon-compatibility icon-system"></i>智能货道管理</p>
      <p class="system-text"><i class="icon font_family icon-compatibility icon-system"></i>后台远程出货</p>
    </div>
  </div>

  <div nz-row style="padding: 30px 0 100px 0;background-color: #f8f8f8">
    <div nz-col [nzSpan]="4" [nzOffset]="6">
      <img src="./assets/img/system_4.png" style="width: 80%;margin-top: 4rem">
    </div>
    <div nz-col [nzSpan]="8" [nzOffset]="3">
      <img src="./assets/img/system_5.png" >
    </div>
  </div>
</div>










<div *ngIf="tab_num == 3">
  <div nz-row  style="padding: 8rem 0 4rem 0">
    <div nz-col [nzSpan]="4" [nzOffset]="2">
      <div class="title-div" style="margin-top: 40px">大数据分析</div>
      <p class="title-p">商圈分析</p>
      <p class="title-p">流量数据分析</p>
      <p class="title-p">消费行为分析</p>
      <p class="title-p">营销数据分析</p>
      <p class="title-p">精准广告分析</p>
    </div>
    <div nz-col [nzSpan]="14" [nzOffset]="2">
      <img src="./assets/img/big_data.png" >
    </div>
  </div>

  <div nz-row class="row-div" style="background-color: #f8f8f8">
    <div nz-col [nzSpan]="4" [nzOffset]="2">
      <div class="title-div" style="margin-top: 10rem">一站式解决方案</div>
      <p class="title-p">线上购物、线下取货，</p>
      <p class="title-p">实现O2O的真正闭环</p>
    </div>
    <div nz-col [nzSpan]="14" [nzOffset]="2">
      <img src="./assets/img/solution_3.png" >
    </div>
  </div>

  <div nz-row class="row-div">
    <div nz-col [nzSpan]="4" [nzOffset]="2">
      <div class="title-div">个性化精准营销</div>
    </div>
  </div>

  <div nz-row class="row-div">
    <div nz-col [nzSpan]="16" [nzOffset]="4">
      <img src="./assets/img/solution/solution4.png">
    </div>
  </div>

</div>



<div *ngIf="tab_num == 4">
  <div style=" text-align: center;padding-top: 60px;" >
    <h2 class="title-2">
      <span class="line"></span>
      购买渠道
      <span class="line"></span></h2>
    <h4 class="title-4">PURCHASING&nbsp;CHANNEL</h4>
  </div>

  <div nz-row class="row-div">
    <div nz-col [nzSpan]="6" [nzOffset]="2">
      <div style="text-align: center;">
        <img src="./assets/img/channel_1.png" style="width: 80%">
      </div>

      <p class="chanel-text">APP购买</p>
    </div>
    <div nz-col [nzSpan]="6" [nzOffset]="1">
      <div style="text-align: center;">
        <img src="./assets/img/channel_2.png" style="width: 80%">
      </div>
      <p class="chanel-text">直接在机器上购买</p>
    </div>
    <div nz-col [nzSpan]="6" [nzOffset]="1">
      <div style="text-align: center;">
        <img src="./assets/img/channel_3.png" style="width: 80%">
      </div>
      <p class="chanel-text">其他平台购买</p>
    </div>
  </div>

  <div style=" text-align: center;background-color: #f8f8f8" class="row-div">
    <h2 class="title-2">
      <span class="line"></span>
      支付方式
      <span class="line"></span></h2>
    <h4 class="title-4">MODE&nbsp;OF&nbsp;PAYMENT</h4>

    <div nz-row style="padding-top: 60px">
      <div nz-col [nzSpan]="9" >
        <p style="text-align: center;margin-bottom: 40px">
          <span class="payment-name">现金支付</span>
          <span class="payment-name">硬币支付</span>
          <span class="payment-name">刷卡支付</span>
        </p>
      </div>
      <div nz-col [nzSpan]="4" [nzOffset]="1">
        <p style="text-align: right;margin-bottom: 6px">
          <span class="payment-name">NFC支付</span>
        </p>
      </div>

      <div nz-col [nzSpan]="4" [nzOffset]="1">
        <p style="text-align: right;margin-bottom: 12px">
          <span class="payment-name">扫码支付</span>
        </p>
      </div>
    </div>

    <div nz-row >
      <div nz-col [nzSpan]="6" [nzOffset]="2">
        <div style="text-align: center;">
          <img src="./assets/img/pay_1.png" style="width: 80%">
        </div>
      </div>

      <div nz-col [nzSpan]="6" [nzOffset]="1">

        <div  style="text-align: center;">
          <img src="./assets/img/pay_2.png" style="width: 80%">
        </div>

      </div>
      <div nz-col [nzSpan]="6" [nzOffset]="1">

        <div  style="text-align: center;">
          <img src="./assets/img/pay_3.png" style="width: 80%">
        </div>
      </div>
    </div>
  </div>

</div>

<app-bottom></app-bottom>


