<div>
  <img src="./assets/img/serve/banner4.jpg">
</div>

<div class="row-div" >
  <h2 class="title-2">
    <span class="line"></span>
    专业定制
    <span class="line"></span></h2>
  <h4 class="title-4">PROFESSIONAL&nbsp;CUSTOMIZATION</h4>

  <h3 class="title-3" style="background-color: #f8f8f8;">细分市场，想你所想，做您的自动售货机专家。</h3>
</div>

<div class="row-div">
  <div class="flex-div" style="margin-top: -1rem">
    <div style="flex: 3;">
      <img src="./assets/img/serve/serve1.jpg" >
    </div>
    <div style="flex: 1"></div>
    <div style="flex: 3;">
      <img src="./assets/img/serve/serve2.jpg" >
    </div>
    <div style="flex: 1"></div>
    <div style="flex: 3;">
      <img src="./assets/img/serve/serve3.jpg" >
    </div>
    <div style="flex: 1"></div>
    <div style="flex: 3;">
      <img src="./assets/img/serve/serve4.jpg" >
    </div>
  </div>
</div>

<div class="row-div" style="background-color: #f8f8f8">
  <h2 class="title-2">
    <span class="line"></span>
    软件系统定制
    <span class="line"></span></h2>
  <h4 class="title-4">SYSTEM&nbsp;CUSTOMIZATION</h4>
  <div class="row-div">
    <img src="./assets/img/serve/serve5.jpg" >
  </div>
  <div class="row-div">
    <img src="./assets/img/serve/serve6.jpg" >
  </div>
</div>


<div class="row-div" style="background-color: #3fabf3">
  <h2 class="title-2-w" >
    <span class="line-w"></span>
    专业定制
    <span class="line-w"></span></h2>
  <h4 class="title-4-w">PROFESSIONAL&nbsp;CUSTOMIZATION</h4>


  <div class=" flex-div">
    <div style="flex: 1;">
      <i class="icon font_family icon-customizing_Security"></i>
      <p class="module-desc">双重防盗</p>
    </div>
    <div style="flex: 1;">
      <i class="icon font_family icon-customizing_detectio"></i>
      <p class="module-desc">异常功能检测</p>
    </div>
    <div style="flex: 1;">
      <i class="icon font_family icon-customizing_push"></i>
      <p class="module-desc">精准推送</p>
    </div>
  </div>

  <div class=" flex-div">

    <div style="flex: 1;">
      <i class="icon font_family icon-customizing_gps"></i>
      <p class="module-desc">GPS定位</p>
    </div>
    <div style="flex: 1;">
      <i class="icon font_family icon-customizing_veriface"></i>
      <p class="module-desc">人脸识别</p>
    </div>
  </div>


  <div class="flex-div">
    <div style="flex: 1;">
      <i class="icon font_family icon-customizing_binding"></i>
      <p class="module-desc">促销绑定出货</p>
    </div>
    <div style="flex: 1;">
      <i class="icon font_family icon-btn_qrcode"></i>
      <p class="module-desc">二维码扫描上货</p>
    </div>
  </div>


</div>

<div class="row-div" >
  <h2 class="title-2">
    <span class="line"></span>
    合作模式
    <span class="line"></span></h2>
  <h4 class="title-4">COOPERATION&nbsp;MODE</h4>
  <h3 class="title-3">前沿营销理念、深度洞察行业，实力创新商业模式</h3>

  <div class=" flex-div">
    <div style="flex: 4;">
      <img src="./assets/img/serve/serve7.jpg" >
    </div>
    <div style="flex: 1"></div>
    <div style="flex: 4;">
      <img src="./assets/img/serve/serve8.jpg" >
    </div>
    <div style="flex: 1"></div>
    <div style="flex: 4;">
      <img src="./assets/img/serve/serve9.jpg" >
    </div>
  </div>

  <div class=" flex-div">
    <div style="flex: 4;" class="coop-mode">
      机器租赁模式
    </div>
    <div style="flex: 1"></div>
    <div style="flex: 4;" class="coop-mode">
      融资租赁模式
    </div>
    <div style="flex: 1"></div>
    <div style="flex: 4;" class="coop-mode">
      代理经销模式
    </div>
  </div>
</div>


<div style="background-color: #f8f8f8" class="row-div" >
  <h2 class="title-2">
    <span class="line"></span>
    渠道对接
    <span class="line"></span></h2>
  <h4 class="title-4"><span class="en-title">MadebyW</span>CHANNEL&nbsp;DOCKING<span class="en-title">Chromie</span></h4>


  <h3 class="title-3" >纵向打通资源、横向整合业务，为您穿针引线</h3>

  <div class=" flex-div">
    <div style="flex: 8;">
      <img src="./assets/img/serve/serve10.jpg" >
    </div>
    <div style="flex: 1"></div>
    <div style="flex: 8;">
      <img src="./assets/img/serve/serve11.jpg" >
    </div>
    <div style="flex: 1"></div>
    <div style="flex: 8;">
      <img src="./assets/img/serve/serve12.jpg" >
    </div>
  </div>
</div>



<div class="row-div" style="background-color: #3fabf3">
  <h2 class="title-2-w" >
    <span class="line-w"></span>
    专业定制
    <span class="line-w"></span></h2>
  <h4 class="title-4-w">PROFESSIONAL&nbsp;CUSTOMIZATION</h4>

  <div class=" flex-div">
    <div style="flex: 3;">
      <i class="icon font_family icon-support_train"></i>
      <p class="module-desc">专业培训</p>
    </div>
    <div style="flex: 4;">
      <i class="icon font_family icon-support_download"></i>
      <p class="module-desc">技术资料下载</p>
    </div>
    <div style="flex: 3;">
      <i class="icon font_family icon-support_upgrade"></i>
      <p class="module-desc">软件升级</p>
    </div>

  </div>

  <div class=" flex-div">
    <div style="flex: 1;">
      <i class="icon font_family icon-support_solution"></i>
      <p class="module-desc">解决方案提供</p>
    </div>
    <div style="flex: 1;">
      <i class="icon font_family icon-support_vedio"></i>
      <p class="module-desc">安装维护视频解说</p>
    </div>
  </div>

  <div class=" flex-div">
    <div style="flex: 1;">
      <i class="icon font_family icon-support_analyze"></i>
      <p class="module-desc">后台系统故障排除</p>
    </div>
    <div style="flex: 1;">
      <i class="icon font_family icon-support_monitoring"></i>
      <p class="module-desc">全天候远程监控</p>
    </div>

  </div>
</div>


<div class="row-div" >
  <h2 class="title-2">
    <span class="line"></span>
    售后服务
    <span class="line"></span></h2>
  <h4 class="title-4">AFTER&nbsp;SERVICE</h4>
  <p class="service-text">
    &nbsp;&nbsp;配备专业专职的售后服务和技术人员进行后期维护，提供7×24小时售后服务，在接到通知之时起2小时内响应维修要求，24 小时内赶赴现场处理问题。一般故障 24 小时内解决，重大故障72小时内解决。
  </p>
  <p class="service-text">
    &nbsp;&nbsp;搭建自动售货机维修服务平台，对运营中的售货机进行登记及远程监控，并招募相应的维修人员进行培训考核，考核合格的维修人员可以就近领取维修的任务并获得相应的报酬，也能及时解决运营者的燃眉之急，减少运营的损失。
  </p>

</div>

<app-bottom></app-bottom>
