
<app-stars></app-stars>

<div class="row-div flex-div">
  <div style="flex: 1;" class="title-num">01</div>
  <div style="flex: 6">
    <p class="title-1">货道灵活调整</p>
    <p class="title-2">履带安全出货+智能升降系统</p>
  </div>
</div>

<div class="row-div flex-div">
  <div class="gif-div" style="border: solid 1px #d7d7d7;">
    <img src="./assets/img/solution/gif1.gif">
  </div>
</div>


<div class="row-div flex-div" style="background-color: #f8f8f8">
  <div style="flex: 1;" class="title-num">02</div>
  <div style="flex: 5">
    <p class="title-1">无动力货仓</p>
    <p class="title-2">多轴机械臂精准定位取货</p>
  </div>
</div>

<div class="row-div flex-div" style="margin-top: -2rem;background-color: #f8f8f8">
  <div class="gif-div">
    <img src="./assets/img/solution/gif2.gif">
  </div>
</div>


<div class="row-div flex-div">
  <div style="flex: 1;" class="title-num">03</div>
  <div style="flex: 3">
    <p class="title-1">智能货仓</p>
    <p class="title-2">自动上货出货</p>
  </div>
</div>

<div class="row-div flex-div">
  <div class="gif-div" style="border: solid 1px #d7d7d7;">
    <img src="./assets/img/solution/gif3.gif">
  </div>
</div>

<app-bottom></app-bottom>
