<div>
  <img src="./assets/img/product/banner.jpg" style="width: 100%">
</div>
<div style=" text-align: center;margin-top: 36px;" id="archor1" >
  <h2 class="title-2">
    <span class="line"></span>
    The Machine Features
    <span class="line"></span></h2>
  <!--<h4 class="title-4">MACHINE&nbsp;FEATURES</h4>-->
</div>

<div style="text-align: center;margin-top: 60px">
  <img src="./assets/img/product/product0.jpg" style="width: 72%;">
</div>

<div class="row-div" style=" text-align: center;background-color: #f6f6f6" >
  <h2 class="title-2">
    <span class="line"></span>
    All Kinds Of Industry
    <span class="line"></span></h2>
</div>

<div style="text-align: center;background-color: #f6f6f6;padding-bottom: 4rem">
  <img src="./assets/img/product/industry.jpg" style="width: 90%;">
</div>


<div style=" text-align: center;margin-top: 60px;" >
  <h2 class="title-2">
    <span class="line"></span>
    2018 Hot Sale Model
    <span class="line"></span>
  </h2>
</div>


<div class="row-div" id="archor2">
  <h2 class="product-title" >NO1: Thybot movable automated retail store-Multi functional integrated machine</h2>
  <div class="flex-div"  style="margin-top: 2rem">
    <div style="flex: 2"></div>
    <div style="flex: 2">
      <img src="./assets/img/product/product1.jpg" style="width: 80%" >
    </div>

    <div style="flex: 5;background-color: #f8f8f8;">
      <h2 class="title-2">Applicable products</h2>
      <div class="flex-div" style="text-align: left">
        <div class="label-div" style="flex:1">
          <i class="icon font_family icon-vegetables"></i>
          <span class="label-name">vegetable</span>
        </div>
        <div class="label-div" style="flex:1">
          <i class="icon font_family icon-drug"></i>
          <span class="label-name">medicine</span>
        </div>
        <div class="label-div" style="flex:1">
          <i class="icon font_family icon-fruit"></i>
          <span class="label-name">fruit</span>
        </div>
      </div>

      <div class="flex-div" style="text-align: left">
        <div class="label-div" style="flex:1">
          <i class="icon font_family icon-drink"></i>
          <span class="label-name">beverage</span>
        </div>
        <div class="label-div" style="flex:1">
          <i class="icon font_family icon-meat"></i>
          <span class="label-name">meat</span>
        </div>
        <div class="label-div" style="flex:1">
          <i class="icon font_family icon-snacks"></i>
          <span class="label-name">snack</span>
        </div>
      </div>

      <div class="flex-div" style="text-align: left">
        <div class="label-div" style="flex:1">
          <i class="icon font_family icon-fresh"></i>
          <span class="label-name">fresh food</span>
        </div>
        <div class="label-div" style="flex:1">
          <i class="icon font_family icon-daily_use"></i>
          <span class="label-name-more">daily supplies</span>
        </div>
        <div style="flex: 1"></div>
      </div>
    </div>
    <div style="flex: 2"></div>
  </div>

</div>



<div nz-row class="row-div" >


  <div nz-col [nzXl] = "{span: 10, offset: 2}"  [nzLg] = "{span: 10, offset: 2}" [nzMd] = "{span: 11, offset: 1}" [nzSm] = "{span: 20, offset: 2}" [nzXs] = "{span: 22, offset: 1}">
    <table style="width: 100%">
      <tr class="table-row" >
        <td nz-td class="table-title">fruit</td>
        <td class="table-desc">1120mm*800mm*2000mm</td>
      </tr>
      <tr class="table-row"  >
        <td class="table-title">Auxiliary machine capacity</td>
        <td class="table-desc">6 layers, 11 shelves/ layers (adjustable)</td>
      </tr>
      <tr class="table-row"  >
        <td class="table-title">Overall weight</td>
        <td class="table-desc">400Kg</td>
      </tr>
      <tr class="table-row"  >
        <td class="table-title">Overall weight</td>
        <td class="table-desc">800W (refrigeration): 260W (standby)</td>
      </tr>
      <tr class="table-row"  >
        <td class="table-title">Refrigerant</td>
        <td class="table-desc">R134a</td>
      </tr>
      <tr class="table-row"  >
        <td class="table-title">Refrigerating method</td>
        <td class="table-desc">Air cooling</td>
      </tr>
    </table>
  </div>


  <div nz-col [nzXl] = "{span: 10, offset : 0}"  [nzLg] = "{span: 10, offset : 0}" [nzMd] = "{span: 11, offset : 0}" [nzSm] = "{span: 20, offset: 2}" [nzXs] = "{span: 22, offset: 1}">
    <table style="width: 100%">
      <tr class="table-row"  >
        <td class="table-title">Storage temp</td>
        <td class="table-desc">2-20℃(adjustable)</td>
      </tr>
      <tr class="table-row"  >
        <td class="table-title">Anomaly detection function</td>
        <td class="table-desc">Door sensors detection</td>
      </tr>
      <tr class="table-row"  >
        <td class="table-title">Network</td>
        <td class="table-desc">3G/4G, Gigabit Ethernet, Wifi (optional)</td>
      </tr>
      <tr class="table-row"  >
        <td class="table-title">Payment system</td>
        <td class="table-desc">WeChat, Alipay</td>
      </tr>
      <tr class="table-row"  >
        <td class="table-title">Display screen</td>
        <td class="table-desc">32 inch  LCD touch screen</td>
      </tr>
      <tr class="table-row"  >
        <td class="table-title">Goods delivery method</td>
        <td class="table-desc">Conveyor belt safety delivering
          + Intelligent lifting system</td>
      </tr>

    </table>
  </div>
</div>




<div class="row-div" id="archor3">
  <h2 class="product-title" >NO2: Thybot movable automated retail store——Auto stock in –stock out Series</h2>
  <div class="flex-div"  style="margin-top: 2rem">
    <div style="flex: 2"></div>
    <div style="flex: 2">
      <img src="./assets/img/product/product2.jpg" style="width: 80%" >
    </div>

    <div style="flex: 5;background-color: #f8f8f8;">
      <h2 class="title-2">Applicable products</h2>

      <div class="flex-div" style="text-align: left">
        <div class="label-div" style="flex:1">
          <i class="icon font_family icon-smallphone"></i>
          <span class="label-name">mobile phone</span>
        </div>
        <div class="label-div" style="flex:1">
          <i class="icon font_family icon-electronics"></i>
          <span class="label-name">electronic product</span>
        </div>
      </div>

      <div class="flex-div" style="text-align: left">
        <div class="label-div" style="flex:1">
          <i class="icon font_family icon-ipad"></i>
          <span class="label-name">ipad</span>
        </div>
        <div class="label-div" style="flex:1">
          <i class="icon font_family icon-precious_gift"></i>
          <span class="label-name">Luxury gifts</span>
        </div>
        <div class="label-div" style="flex:1">
          <i class="icon font_family icon-jewelry"></i>
          <span class="label-name">jewelry</span>
        </div>
      </div>
    </div>
    <div style="flex: 2"></div>
  </div>

</div>








    <div nz-row class="row-div">
      <div  nz-col [nzXl] = "{span: 10, offset: 2}"  [nzLg] = "{span: 10, offset: 2}" [nzMd] = "{span: 11, offset: 1}" [nzSm] = "{span: 20, offset: 2}" [nzXs] = "{span: 22, offset: 1}">
        <table style="width: 100%">
          <tr class="table-row" >
            <td nz-td class="table-title">Overall dimension</td>
            <td class="table-desc">1200mm*900mm*2000mm</td>
          </tr>
          <tr class="table-row"  style="height: 96px" >
            <td class="table-title">Auxiliary machine capacity</td>
            <td class="table-desc">Total106, big size lanes 73,
              small size lanes 33 (customized lane size)</td>
          </tr>
          <tr class="table-row"  >
            <td class="table-title">Shelf structure</td>
            <td class="table-desc">Front and back shelves warehousing system</td>
          </tr>
          <tr class="table-row"  >
            <td class="table-title">The max size of goods</td>
            <td class="table-desc">200mm×200mm×80mm</td>
          </tr>
          <tr class="table-row"  >
            <td class="table-title">The min size of goods</td>
            <td class="table-desc">120mm×200mm×80mm</td>
          </tr>
          <tr class="table-row"  >
            <td class="table-title">Overall weight</td>
            <td class="table-desc">500Kg</td>
          </tr>
          <tr class="table-row"  >
            <td class="table-title">Rated power</td>
            <td class="table-desc">350W</td>
          </tr>
          <tr class="table-row"  >
            <td class="table-title">Network</td>
            <td class="table-desc">3G/4G, Gigabit Ethernet, Wifi (optional)</td>
          </tr>
        </table>
      </div>
      <div nz-col [nzXl] = "{span: 10, offset : 0}"  [nzLg] = "{span: 10, offset : 0}" [nzMd] = "{span: 11, offset : 0}" [nzSm] = "{span: 20, offset: 2}" [nzXs] = "{span: 22, offset: 1}">
        <table style="width: 100%">
          <tr class="table-row"  >
            <td class="table-title">Payment system</td>
            <td class="table-desc">Alipay, WeChat pay, Bank card (optional)</td>
          </tr>
          <tr class="table-row"  style="height: 96px">
            <td class="table-title">Anomaly detection function</td>
            <td class="table-desc">Multiple sensors detection, GPS positioning</td>
          </tr>
          <tr class="table-row"  >
            <td class="table-title">Display screen</td>
            <td class="table-desc">43 inches of infrared touch screen</td>
          </tr>
          <tr class="table-row"  >
            <td class="table-title">Goods delivery method</td>
            <td class="table-desc">Auto stock in-stock out</td>
          </tr>
          <tr class="table-row"  >
            <td class="table-title">Pick up port</td>
            <td class="table-desc">Automated door
              with the anti-pinch function</td>
          </tr>
          <tr class="table-row"  >
            <td class="table-title">The security doors</td>
            <td class="table-desc">Automated door</td>
          </tr>
          <tr class="table-row"  >
            <td class="table-title">Monitoring function</td>
            <td class="table-desc">Internal and external camera</td>
          </tr>
          <tr class="table-row"  >
            <td class="table-title">Additional options</td>
            <td class="table-desc">UPS system, QR code scan loading</td>
          </tr>
        </table>
      </div>
    </div>




<div class="row-div" style=" text-align: center;" >
  <h2 class="title-2">
    <span class="line"></span>
    Product Display
    <span class="line"></span></h2>
</div>


<div nz-row>
  <div nz-col [nzXl] = "{span: 5, offset: 2}"  [nzLg] = "{span: 5, offset: 2}" [nzMd] = "{span: 5, offset: 2}" [nzSm] = "{span: 6}" [nzXs] = "{span: 6}" class="bg_g"  (mouseover)="show_name(0)" (mouseout)="hide_name(0)">
    <div class="hide-div" [class.show-div]="is_show[0]">
      <span class="product-name">Glacier Series</span>
    </div>
    <img src="./assets/img/product/show1.png" class="show-img">
  </div>
  <div nz-col [nzXl] = "{span: 5}"  [nzLg] = "{span: 5}" [nzMd] = "{span: 5}" [nzSm] = "{span: 6}" [nzXs] = "{span: 6}" class="bg_b"   (mouseover)="show_name(1)" (mouseout)="hide_name(1)">
    <div class="hide-div" [class.show-div]="is_show[1]">
      <span class="product-name">G2S PLUS</span>
    </div>
    <img src="./assets/img/product/show2.png" class="show-img">
  </div>
  <div nz-col [nzXl] = "{span: 5}"  [nzLg] = "{span: 5}" [nzMd] = "{span: 5}" [nzSm] = "{span: 6}" [nzXs] = "{span: 6}" class="bg_g" (mouseover)="show_name(2)" (mouseout)="hide_name(2)">
    <div class="hide-div" [class.show-div]="is_show[2]">
      <span class="product-name">Multi functional<br>
Integrated Machine</span>
    </div>
    <img src="./assets/img/product/show3.png" class="show-img">
  </div>
  <div nz-col [nzXl] = "{span: 5}"  [nzLg] = "{span: 5}" [nzMd] = "{span: 5}" [nzSm] = "{span: 6}" [nzXs] = "{span: 6}"  class="bg_1" (mouseover)="show_name(3)" (mouseout)="hide_name(3)">
    <div class="hide-div" [class.show-div]="is_show[3]">
      <span class="product-name">Cooked Food Series</span>
    </div>
    <img src="./assets/img/product/show4.png" class="show-img">
  </div>
</div>

<div nz-row>
  <div nz-col  [nzXl] = "{span: 5, offset: 2}"  [nzLg] = "{span: 5, offset: 2}" [nzMd] = "{span: 5, offset: 2}" [nzSm] = "{span: 6}" [nzXs] = "{span: 6}" class="bg_g" (mouseover)="show_name(4)" (mouseout)="hide_name(4)">
    <div class="hide-div" [class.show-div]="is_show[4]">
      <span class="product-name">G2S</span>
    </div>
    <img src="./assets/img/product/show5.png" class="show-img">
  </div>
  <div nz-col [nzXl] = "{span: 5}"  [nzLg] = "{span: 5}" [nzMd] = "{span: 5}" [nzSm] = "{span: 6}" [nzXs] = "{span: 6}" class="bg_g" (mouseover)="show_name(5)" (mouseout)="hide_name(5)">
    <div class="hide-div" [class.show-div]="is_show[5]">
      <span class="product-name">Glacier Series</span>
    </div>
    <img src="./assets/img/product/show6.png" class="show-img">
  </div>
  <div nz-col [nzXl] = "{span: 5}"  [nzLg] = "{span: 5}" [nzMd] = "{span: 5}" [nzSm] = "{span: 6}" [nzXs] = "{span: 6}" class="bg_w" (mouseover)="show_name(6)" (mouseout)="hide_name(6)">
    <div class="hide-div" [class.show-div]="is_show[6]">
      <span class="product-name">Prosperous Series</span>
    </div>
    <img src="./assets/img/product/show7.png" class="show-img">
  </div>
  <div nz-col [nzXl] = "{span: 5}"  [nzLg] = "{span: 5}" [nzMd] = "{span: 5}" [nzSm] = "{span: 6}" [nzXs] = "{span: 6}"  class="bg_b" (mouseover)="show_name(7)" (mouseout)="hide_name(7)">
    <div class="hide-div" [class.show-div]="is_show[7]">
      <span class="product-name">Auto
Stock In –Stock Out Series</span>
    </div>
    <img src="./assets/img/product/show8.png" class="show-img">
  </div>
</div>

<div nz-row  style="padding-bottom: 8rem">
  <div nz-col  [nzXl] = "{span: 5, offset: 2}"  [nzLg] = "{span: 5, offset: 2}" [nzMd] = "{span: 5, offset: 2}" [nzSm] = "{span: 6}" [nzXs] = "{span: 6}" class="bg_w" (mouseover)="show_name(8)" (mouseout)="hide_name(8)">
    <div class="hide-div" [class.show-div]="is_show[8]">
      <span class="product-name">Multi functional<br>
Integrated Machine</span>
    </div>
    <img src="./assets/img/product/show9.png"  class="show-img">
  </div>
  <div nz-col [nzXl] = "{span: 5}"  [nzLg] = "{span: 5}" [nzMd] = "{span: 5}" [nzSm] = "{span: 6}" [nzXs] = "{span: 6}" class="bg_2" (mouseover)="show_name(9)"  (mouseout)="hide_name(9)">
    <div class="hide-div" [class.show-div]="is_show[9]">
      <span class="product-name">Prosperous Series</span>
    </div>
    <img src="./assets/img/product/show10.png"  class="show-img">
  </div>
  <div nz-col [nzXl] = "{span: 5}"  [nzLg] = "{span: 5}" [nzMd] = "{span: 5}" [nzSm] = "{span: 6}" [nzXs] = "{span: 6}" class="bg_g" (mouseover)="show_name(10)"  (mouseout)="hide_name(10)">
    <div class="hide-div" [class.show-div]="is_show[10]">
      <span class="product-name">Exquisite Series</span>
    </div>
    <img src="./assets/img/product/show11.png"  class="show-img">
  </div>
  <div nz-col [nzXl] = "{span: 5}"  [nzLg] = "{span: 5}" [nzMd] = "{span: 5}" [nzSm] = "{span: 6}" [nzXs] = "{span: 6}"  class="bg_w" (mouseover)="show_name(11)" (mouseout)="hide_name(11)">
    <div class="hide-div" [class.show-div]="is_show[11]">
      <span class="product-name">Classic Series</span>
    </div>
    <img src="./assets/img/product/show12.png"  class="show-img">
  </div>
</div>


<app-bottom></app-bottom>

