<div class="bottom-div">
  <div nz-row  class="content-div">
    <div nz-col [nzSpan]="3" [nzOffset]="3">
      <h2 class="content-title">产品</h2>
      <p class="content-desc">机器特点</p>
      <p class="content-desc">多功能综合机</p>
      <p class="content-desc">万能机</p>
    </div>
    <div nz-col [nzSpan]="3" >
      <h2 class="content-title">解决方案</h2>
      <p class="content-desc">核心技术</p>
      <p class="content-desc">Linux开源系统</p>
      <p class="content-desc">一站式自主研发系统</p>
      <p class="content-desc">可视化后台管理系统</p>
      <p class="content-desc">大数据中心</p>
      <p class="content-desc">一站式解决方案</p>
      <p class="content-desc">个性化精准营销</p>
    </div>
    <div nz-col [nzSpan]="3" >
      <h2 class="content-title">我们的服务</h2>
      <p class="content-desc">专业定制</p>
      <p class="content-desc">软件系统定制</p>
      <p class="content-desc">模块定制</p>
      <p class="content-desc">商业模式</p>
      <p class="content-desc">渠道对接</p>
      <p class="content-desc">技术支持</p>
      <p class="content-desc">售后服务</p>
    </div>
    <div nz-col [nzSpan]="5" >
      <h2 class="content-title">联系我们</h2>
      <p class="content-desc">电话：86-0756-6893280</p>
      <p class="content-desc">地址：珠海市高新区唐家湾镇</p>
      <p class="content-desc">科技三路33号1号厂房1栋1楼</p>
    </div>
    <div nz-col [nzSpan]="2"  [nzOffset]="1">
      <img src="./assets/img/er_wei_ma.jpg" style="width: 100%;margin-top: 12px">
      <p style="text-align: center;font-size: 1.4rem;color: #c5c5c5;line-height: 2.4rem">利保微信公众号</p>
    </div>
  </div>
  <hr>
  <h3 class="copyright">COPYRIGHT DATAGRAND TECH INC. ALL RIGHTS RESERVED. 粤ICP备14038554号</h3>
</div>
