<app-stars></app-stars>

<div class="row-div">
  <div  style="width: 40%;">
    <div class="title-div" >大数据分析</div>
  </div>
  <div style="width: 90%;margin: auto;padding-top: 1rem">
    <p class="title-2">商圈分析&nbsp;流量数据分析&nbsp;消费行为分析</p>
    <p class="title-2">营销数据分析&nbsp;精准广告推送</p>
  </div>
  <div style="margin: auto;padding-top: 1rem">
    <img src="./assets/img/solution/solution1.png">
  </div>
</div>





<div class="row-div" style="background-color: #f0f0f0">
  <div  style="width: 40%;">
    <div class="title-div" >一站式解决方案</div>
  </div>
  <div style="width: 90%;margin: auto;padding-top: 1rem">
    <p class="title-2">线上购物、线下取货、实现O2O的真正闭环</p>
  </div>
  <div style="margin: auto;padding: 1rem 0 1rem 0">
    <img src="./assets/img/solution/solution2.png">
  </div>
</div>

<div class="row-div">
  <div  style="width: 40%;">
    <div class="title-div" >个性化精准营销</div>
  </div>

  <div style="margin: auto;padding: 2rem 0 2rem 0">
    <img src="./assets/img/solution/solution3.png">
  </div>
</div>

<app-bottom></app-bottom>
