<app-stars></app-stars>

<div class="row-div">
  <div  style="width: 48%;">
    <div class="title-div" >Big Data Center</div>
  </div>
  <div style="width: 90%;margin: auto;padding-top: 1rem">
    <p class="title-2">Business circle analysis&nbsp;</p>
    <p class="title-2">Traffic flows data statistics</p>
    <p class="title-2">Consumer behavior analysis</p>
    <p class="title-2">Marketing data analysis</p>
    <p class="title-2">Accurate advertising push</p>
  </div>
  <div style="margin: auto;padding-top: 1rem">
    <img src="./assets/img/solution/solution1.png">
  </div>
</div>





<div class="row-div" style="background-color: #f0f0f0">
  <div  style="width: 48%;">
    <div class="title-div" >One-stop Solution</div>
  </div>
  <div style="width: 90%;margin: auto;padding-top: 1rem">
    <p class="title-2">Online shopping and offline pickup
      Achieve the O2O closed-loop</p>
  </div>
  <div style="margin: auto;padding: 1rem 0 1rem 0">
    <img src="./assets/img/solution/solution2.png">
  </div>
</div>

<div class="row-div">
  <div >
    <div class="title-div" >Personalized Accurate Marketing</div>
  </div>

  <div style="margin: auto;padding: 2rem 0 2rem 0">
    <img src="./assets/img/solution/solution3.png">
  </div>
</div>

<app-bottom></app-bottom>
