<div>
  <img src="./assets/img/serve/banner4.png">
</div>

<div class="row-div" >
  <h2 class="title-2">
    <!--<span class="line"></span>-->
    Professional Customization
    <!--<span class="line"></span>-->
  </h2>

  <h3 class="title-3" style="background-color: #f8f8f8;">Exquisite appearance design+ Customized user interface</h3>
</div>

<div class="row-div">
  <div class="flex-div" style="margin-top: -1rem">
    <div style="flex: 3;">
      <img src="./assets/img/serve/serve1.png" >
    </div>
    <div style="flex: 1"></div>
    <div style="flex: 3;">
      <img src="./assets/img/serve/serve2.png" >
    </div>
    <div style="flex: 1"></div>
    <div style="flex: 3;">
      <img src="./assets/img/serve/serve3.png" >
    </div>
    <div style="flex: 1"></div>
    <div style="flex: 3;">
      <img src="./assets/img/serve/serve4.png" >
    </div>
  </div>
</div>

<div class="row-div" style="background-color: #f8f8f8">
  <h2 class="title-2">
    <!--<span class="line"></span>-->
    Software System Customization
    <!--<span class="line"></span>-->
  </h2>
  <div class="row-div">
    <img src="./assets/img/serve/serve5.png" >
  </div>
  <div class="row-div">
    <img src="./assets/img/serve/serve6.png" >
  </div>
</div>


<div class="row-div" style="background-color: #3fabf3">
  <h2 class="title-2-w" >
    <!--<span class="line-w"></span>-->
    Functional Customization
    <!--<span class="line-w"></span>-->
  </h2>

  <div class=" flex-div">
    <div style="flex: 1;">
      <i class="icon font_family icon-customizing_push"></i>
      <p class="module-desc">Accurate
        pushing</p>
    </div>


    <div style="flex: 1;">
      <i class="icon font_family icon-btn_qrcode"></i>
      <p class="module-desc">QR code
        scan loading</p>
    </div>

  </div>

  <div class=" flex-div">
    <div style="flex: 1;">
      <i class="icon font_family icon-customizing_gps"></i>
      <p class="module-desc">GPS
        positioning</p>
    </div>

    <div style="flex: 1;">
      <i class="icon font_family icon-customizing_veriface"></i>
      <p class="module-desc">Facial
        recognition</p>
    </div>

  </div>

  <div class="flex-div">
    <div style="flex: 1;">
      <i class="icon font_family icon-customizing_detectio"></i>
      <p class="module-desc">Abnormal
        function detection</p>
    </div>
    <div style="flex: 1;">
      <i class="icon font_family icon-customizing_binding"></i>
      <p class="module-desc">Promotion
        binding function</p>
    </div>

  </div>

  <div class="flex-div">
    <div style="flex: 1;">
      <i class="icon font_family icon-customizing_Security"></i>
      <p class="module-desc">Multiple
        anti-theft protection</p>
    </div>
  </div>
</div>

<div class="row-div" >
  <h2 class="title-2">
    <!--<span class="line"></span>-->
    Cooperation Pattern
    <!--<span class="line"></span>-->
  </h2>

  <h3 class="title-3">Cutting-edge marketing and innovative business model</h3>

  <div class=" flex-div">
    <div style="flex: 4;">
      <img src="./assets/img/serve/serve7.png" >
    </div>
    <div style="flex: 1"></div>
    <div style="flex: 4;">
      <img src="./assets/img/serve/serve8.png" >
    </div>
    <div style="flex: 1"></div>
    <div style="flex: 4;">
      <img src="./assets/img/serve/serve9.png" >
    </div>
  </div>

  <div class=" flex-div">
    <div style="flex: 4;" class="coop-mode">
      Machine leasing
    </div>
    <div style="flex: 1"></div>
    <div style="flex: 4;" class="coop-mode">
      Financing leasing
    </div>
    <div style="flex: 1"></div>
    <div style="flex: 4;" class="coop-mode">
      Agency distribution
    </div>
  </div>
</div>


<div style="background-color: #f8f8f8" class="row-div" >
  <h2 class="title-2">
    <!--<span class="line"></span>-->
    Brand and Scene Combination——<br>Thybot Customized Vending Machines
    <!--<span class="line"></span>-->
  </h2>

  <h3 class="title-3" >Cutting-edge marketing and innovative business model</h3>

  <div class=" flex-div">
    <div style="flex: 8;">
      <img src="./assets/img/serve/serve10.png" >
    </div>
    <div style="flex: 1"></div>
    <div style="flex: 8;">
      <img src="./assets/img/serve/serve11.png" >
    </div>
    <div style="flex: 1"></div>
    <div style="flex: 8;">
      <img src="./assets/img/serve/serve12.png" >
    </div>
  </div>
</div>



<div class="row-div" style="background-color: #3fabf3">
  <h2 class="title-2-w" >
    <!--<span class="line-w"></span>-->
    Tech Support
    <!--<span class="line-w"></span>-->
  </h2>

  <div class=" flex-div">

    <div style="flex: 1;">
      <i class="icon font_family icon-support_train"></i>
      <p class="module-desc">Professional
        training</p>
    </div>
    <div style="flex: 1;">
      <i class="icon font_family icon-support_upgrade"></i>
      <p class="module-desc">Software
        upgrades</p>
    </div>

  </div>


  <div class="flex-div">
    <div style="flex: 1;">
      <i class="icon font_family icon-support_download"></i>
      <p class="module-desc">Technical
        document download</p>
    </div>
    <div style="flex: 1;">
      <i class="icon font_family icon-support_solution"></i>
      <p class="module-desc">Technical
        solutions providing</p>
    </div>
  </div>

  <div class="flex-div">
    <div style="flex: 1;">
      <i class="icon font_family icon-support_analyze"></i>
      <p class="module-desc">Remote
        troubleshooting analysis</p>
    </div>
    <div style="flex: 1;">
      <i class="icon font_family icon-support_monitoring"></i>
      <p class="module-desc">24-7 backend
        monitoring</p>
    </div>
  </div>

  <div class=" flex-div">


    <div style="flex: 1;">
      <i class="icon font_family icon-support_vedio"></i>
      <p class="module-desc">Video performance
        for machine installation
        and maintenance</p>
    </div>
  </div>

</div>


<div class="row-div" >
  <h2 class="title-2">
    <!--<span class="line"></span>-->
    After-sales Service
    <!--<span class="line"></span>-->
  </h2>
  <p class="service-text">
    &nbsp;&nbsp;Equipped with professional after-sales service and professional technical team for maintenance, 24*7 after-sales online service, on-site service.
  </p>
  <p class="service-text">
    &nbsp;&nbsp;Vending machine maintenance service platform, around the clock remote monitoring.
  </p>

</div>

<app-bottom></app-bottom>

