<div>
  <img src="./assets/img/case_banner.png" style="width: 100%">
</div>

<div style="padding: 8rem 0 8rem 0;background-color: #f8f8f8">

  <div nz-row >
    <div nz-col [nzSpan]="8" [nzOffset]="2" class="img-div">
      <img [src]="is_color[1]?color[1]:black[1]"   (mouseover)="change_color(1,true)" (mouseout)="change_color(1, false)">
      <div class="blue-div">
        <div class="factory-name">
          <p class="name1-w">M1系列</p>
          <p class="name2-w">臻荣</p>
          <span class="name3-w">高校传媒</span>
        </div>
      </div>
    </div>

    <div nz-col [nzSpan]="12">

      <div nz-row  style="background-color: white;">
        <div nz-col [nzSpan]="8"  style="position: relative">
          <div class="triangle_right"></div>
          <div class="factory-name">
            <p class="name1-b">M1系列</p>
            <p class="name2-b">CLASSIC SERIES</p>
            <span class="name3-b">书展奇侠传</span>
          </div>
        </div>
        <div nz-col [nzSpan]="16">
          <img [src]="color[2]" >
        </div>
      </div>

      <div nz-row style="background-color: white;">
        <div nz-col [nzSpan]="16" >
          <img [src]="is_color[3]?color[3]:black[3]"   (mouseover)="change_color(3,true)" (mouseout)="change_color(3, false)" >
        </div>
        <div nz-col [nzSpan]="8"  style="position: relative">
          <div class="triangle_left"></div>
          <div class="factory-name">
            <p class="name1-b">M1系列</p>
            <p class="name2-b">CLASSIC SERIES</p>
            <span class="name3-b">开心神秘屋</span>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div nz-row>
    <div nz-col [nzSpan]="20" [nzOffset]="2" style="background-color: white">
      <div nz-col [nzSpan]="6">
        <img [src]="is_color[4]?color[4]:black[4]"   (mouseover)="change_color(4,true)" (mouseout)="change_color(4, false)" >
      </div>
      <div nz-col [nzSpan]="6" >
        <div class="triangle_left"></div>
        <div class="factory-name">
          <p class="name1-b">M1系列</p>
          <p class="name2-b">PROSPEROUS SERIES</p>
          <span class="name3-b">利保高端智能零售体验店</span>
        </div>
      </div>
      <div nz-col [nzSpan]="6" style="background-color: #3fabf3;overflow: hidden">
        <div class="triangle_right"></div>
        <div class="factory-name">
          <p class="name1-w">M1系列</p>
          <p class="name2-w">CLASSIC SERIES</p>
          <span class="name3-w" style="margin-bottom: 5.1rem">美妆零售机器人</span>
        </div>
      </div>
      <div nz-col [nzSpan]="6" >
        <img [src]="is_color[5]?color[5]:black[5]"   (mouseover)="change_color(5,true)" (mouseout)="change_color(5, false)" >
      </div>
    </div>
  </div>

</div>


<div style="padding: 8rem 0 8rem 0;">
  <div nz-row >
    <div nz-col [nzSpan]="20" [nzOffset]="2" style="background-color: #f8f8f8">
      <div nz-col [nzSpan]="6"  >
        <div class="triangle_right"></div>
        <div class="factory-name">
          <p class="name1-b">冰河系列</p>
          <p class="name2-b">GLACIER SERIES</p>
          <span class="name3-b">著名风景区</span>
        </div>
      </div>
      <div nz-col [nzSpan]="6" >
        <img  [src]="is_color[6]?color[6]:black[6]"   (mouseover)="change_color(6,true)" (mouseout)="change_color(6, false)" >
      </div>
      <div nz-col [nzSpan]="6" >
        <div class="triangle_right"></div>
        <div class="factory-name">
          <p class="name1-b">冰河系列</p>
          <p class="name2-b">GLACIER SERIES</p>
          <span class="name3-b">农博会</span>
        </div>
      </div>
      <div nz-col [nzSpan]="6" >
        <img [src]="is_color[7]?color[7]:black[7]"   (mouseover)="change_color(7,true)" (mouseout)="change_color(7, false)" >
      </div>
    </div>
  </div>
  <div nz-row >
    <div nz-col [nzSpan]="20" [nzOffset]="2" style="background-color: #f8f8f8">
      <div nz-col [nzSpan]="6"  >
        <img src="./assets/img/c8.png" >
      </div>
      <div nz-col [nzSpan]="6" >
        <div class="triangle_left"></div>
        <div class="factory-name">
          <p class="name1-b">冰河系列</p>
          <p class="name2-b">GLACIER SERIES</p>

        </div>
      </div>
      <div nz-col [nzSpan]="6" >
        <img src="./assets/img/c9.png" >
      </div>
      <div nz-col [nzSpan]="6" >
        <div class="triangle_left"></div>
        <div class="factory-name">
          <p class="name1-b">冰河系列</p>
          <p class="name2-b">GLACIER SERIES</p>
          <span class="name3-b">清华科技园</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="text-align: center;margin-top: 4rem">
  <h2 class="title-2">
    <span class="line"></span>
    博鳌机场
    <span class="line"></span></h2>
  <h4 class="title-4">BOAO&nbsp;AIRPORT</h4>
</div>

<div nz-row class="row-div">

  <div nz-col [nzSpan]="5" [nzOffset]="2" >
    <img [src]="is_color[10]?color[10]:black[10]"   (mouseover)="change_color(10,true)" (mouseout)="change_color(10, false)" class="boao-img" >
  </div>

  <div nz-col [nzSpan]="5" >
    <img [src]="is_color[11]?color[11]:black[11]"   (mouseover)="change_color(11,true)" (mouseout)="change_color(11, false)" class="boao-img">
  </div>
  <div nz-col [nzSpan]="5" >
    <img [src]="is_color[12]?color[12]:black[12]"   (mouseover)="change_color(12,true)" (mouseout)="change_color(12, false)" class="boao-img">
  </div>
  <div nz-col [nzSpan]="5" >
    <img [src]="is_color[13]?color[13]:black[13]"   (mouseover)="change_color(13,true)" (mouseout)="change_color(13, false)" class="boao-img">
  </div>

</div>


<div nz-row  style="background-color: #f8f8f8;margin-top: 4rem">
  <div nz-col [nzSpan]="6" [nzOffset]="3">
    <div style="text-align: center;padding-top: 10rem">
      <p class="name1-b">START WITH THE WORLD</p>
      <p class="name4-b">公司生产全面执行TQM，引进了
        先进的测试设备</p>
      <span class="name3-b">美国自动售货展</span>
    </div>
  </div>
  <div nz-col [nzSpan]="13" style="position: relative">
    <div class="swiper-btn-div ">
      <button class="swiper-btn" [class.swiper-btn-lock]="swiper.activeIndex == 0" (click)="swiper_pre()" ><</button>
      <button class="swiper-btn" [class.swiper-btn-lock]="swiper.activeIndex == 5" (click)="swiper_next()" >></button>
    </div>
    <div class="swiper-container" >
      <div class="swiper-wrapper">
        <div class="swiper-slide" >
          <img src="./assets/img/case/meeting1.png" >
        </div>
        <div class="swiper-slide">
          <img src="./assets/img/case/meeting2.png" >
        </div>
        <div class="swiper-slide">
          <img src="./assets/img/case/meeting3.png" >
        </div>
        <div class="swiper-slide">
          <img src="./assets/img/case/meeting4.png" >
        </div>
        <div class="swiper-slide">
          <img src="./assets/img/case/meeting5.png" >
        </div>
        <div class="swiper-slide">
          <img src="./assets/img/case/meeting6.png" >
        </div>
      </div>
    </div>
  </div>
</div>

<div nz-row class="row-div">
  <div nz-col [nzSpan]="20" [nzOffset]="2" >
    <h2 class="title-2" style="color: black">
      利保展厅
    </h2>
    <h4 class="title-4">EXHIBITION&nbsp;HALL</h4>
  </div>

</div>


<div nz-row style="padding-bottom: 8rem;">
  <div nz-col [nzSpan]="20" [nzOffset]="2">
    <div nz-row style="background-color: #f8f8f8">
      <div nz-col [nzSpan]="6"  >
        <div style="text-align: center;padding-top: 6rem">
          <p class="name1-b">START WITH THE WORLD</p>
          <p class="name4-b">公司生产全面执行TQM，引进了
            先进的测试设备</p>
          <span class="name3-b">清华科技园</span>
        </div>
      </div>
      <div nz-col [nzSpan]="6"  >
        <img src="./assets/img/hall1.png" >
      </div>
      <div nz-col [nzSpan]="6"  >
        <div  style="text-align: center;padding-top: 6rem;background-color: #3fabf3">
          <p class="name1-w">LEAD INDUSTRY</p>
          <p class="name4-w">引领行业
            享誉全球的领先科技和过硬品质</p>
          <span class="name3-w" style="margin-bottom: 5.6rem">核心技术&nbsp;铸就行业领先</span>
        </div>
      </div>
      <div nz-col [nzSpan]="6" >
        <img src="./assets/img/hall2.png" >
      </div>
    </div>
  </div>

</div>
