
<div class="totop">
 <!-- <div style="width: 300px; margin-bottom: 20px;">
    <h3>Select a single city</h3>
    <ng-select [allowClear]="true"
               [items]="items"
               [disabled]="disabled"
               (data)="refreshValue($event)"
               (selected)="selected($event)"
               (removed)="removed($event)"
               (typed)="typed($event)"
               placeholder="No city selected"
               [(ngModel)] = "what_the_f">
    </ng-select>
  </div>-->
  <img src="./assets/image/flow.png">
</div>
<app-routebtn></app-routebtn>
